.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/archlinux/" }
    Arch Linux
  %hr

%h1
  Arch Linux

%p
  If you are running on a
  %a{:href => "http://www.archlinux.org/"}
    Arch Linux based system
  you can run:

= sh_cmd "rvm notes"

%p
  To find out the various dependencies for each ruby.

%p
  Please also see the Troubleshooting page for problems relating to callback.func generation errors.
  This is directly related, thus far, to use of pre-release compilers such as gcc 4.6. The troubleshooting
  page details the workaround.
