---
title: "CentOS Linux"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/centos/" }
    CentOS / RedHat
  %hr

%h1
  CentOS / RedHat

%p
  If you are running on a
  %a{:href => "http://centos.org/"}
    CentOS / RedHat based Systems
  you can run:

= sh_cmd "rvm notes"

%p
  To find out the various dependencies for each ruby.
