.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/darwin/" }
    Darwin / OSX
  %hr

%h1
  Darwin

%p
  If you are running on a
  %a{:href => "http://www.gnu-darwin.org/"}
    Darwin Based System (e.g. OSX)
  you can run:

= sh_cmd "rvm notes"

%p
  To find out the various dependencies for each ruby.


%h2 Snow Leopard: Forcing specific architecture builds

%p
  If you want to specifically build an i386 version of ruby, you need to use
  environment variables and a patch. Snow Leopard defaults to building x86_64
  when the system determines it.

%pre.code
  :preserve
    $ rvm_archflags="-arch i386" CFLAGS="-arch i386" LDFLAGS="-arch i386" rvm install 1.8.7 --patch osx-arch-fix

%p
  To set the default architecture, see
  %a{:href => "/workflow/rvmrc/"} the rvmrc page
  which explains the available variables.

%p
  If you with to build a fat binary (with support for i386 and x86_64),
  pass the --with-arch flag as follows:

%pre.code
  :preserve
    $ rvm install ruby-1.9.2-head -C --with-arch=x86_64,i386
