.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/gentoo/" }
    Gentoo
  %hr

%h1
  Gentoo

%p
  If you are running on a 
  %a{:href => "http://www.gentoo.org/"}
    Gentoo Based System
  Then the dependencies you should install are:

%p
  For JRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    emerge dev-java/sun-jdk dev-java/sun-jre-bin

%p
  For IronRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    emerge dev-lang/mono
