.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/gentoo/" }
    Gentoo
  %hr

%h1
  Gentoo

%p
  If you are running on a 
  %a{:href => "http://www.gentoo.org/"}
    Gentoo Based System
  Then the dependencies you should install are:

%p
  For JRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    emerge dev-java/sun-jdk dev-java/sun-jre-bin

%p
  For IronRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    emerge dev-lang/mono

%p
  If you're having issues such as "no such file to load -- auto_gem (LoadError)" with gentoo,
  run the following to see if it corrects your issues:

= sh_cmd "unset RUBYOPT; sudo env-update"

%p
  For further information on this specific issue, please see
  %a{:href => "http://gist.github.com/raw/356344/b7f98657cf7002035de2d56bd6e680842d1cd77d/rvm-irc.log"} this gist
  containing more details.
