.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/other/" }
    Other OSs
  %hr

%h1
  Other OSs

%p
  For JRuby (if you wish to use it) you will need to install the JDK.

%p
  For MRI & ree (if you wish to use it) you will need a GCC compiler bison, patch.
  Be sure that the autoconf version is >= 2.60

%p 
  For IronRuby (if you wish to use it) you will need to install the latest version of
  the open source Mono .NET framework (greater than 2.6).
