---
title: "Ubuntu Based Systems"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/ubuntu/" }
    Ubuntu
  %hr

%h1 Ubuntu

%p
  To find out the various dependencies for each Ruby, you can run:

= sh_cmd "rvm requirements"

%h2 Ensure accounts use bash or zsh

%p
  There is a descrepency between useradd and adduser configurations.
  Users should use the `adduser` command which will default to
  `/bin/bash` however if you use the `useradd` command the
  default is `/bin/sh` (which can be changed by editing SHELL in
  "/etc/default/useradd".

%p
  The following commands will help you inspect defaults and your current
  shell, change your current shell, and demonstrate account creation
  using either bash or zsh.  Use /bin/zsh in place of /bin/bash if
  preferred.

%pre.code
  :preserve
    $ useradd -D                                             # Display defaults for useradd.
    $ echo $SHELL                                            # As a user, check your shell.
    $ chsh -s /bin/bash                                      # As a user, change your shell.
    $ cat /etc/adduser.conf |sed -e 's/#.*$//' -e '/^$/d'    # Display defaults for adduser.
