---
title: "Ubuntu Based Systems"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/os/ubuntu/" }
    Ubuntu
  %hr

%h1
  Ubuntu

%p
  If you are running on a version of Ubuntu,
  you can run:

= sh_cmd "rvm notes"

%p
  To find out the various dependencies for each ruby.


