.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/contributing/" }
    Contributing
  %hr

%a{ :name => "contribute" }
%h1
  RVM contribution
%ul
  %li
    Join us in #rvm on irc.freenode.net
    You can use a 
    %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
      web based client.
    If you find that you can not talk in the channel, be sure to first 
    %a{:href => "http://www.wikihow.com/Register-a-User-Name-on-Freenode"}
      register your irc nick.
    
  %li
    If you have a problem, please run "
    %pre.code
      %preserve
        ∴ rvm debug
        ∴ rvm --trace ((command you tried to run))
        
    %p 
      pastie/gist the output of those commands as a url to the channel 
      %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
        \#rvm on irc.freenode.net
  %li
    Follow
    %a{ :href => "http://twitter.com/wayneeseguin" }
      @wayneeseguin
    on Twitter.
  %li
    Mosey on over to the account on
    %a{ :href => "https://www.pivotaltracker.com/projects/26822" }
      Pivotal Tracker
    , if a story catches your eye, come talk to me in #rvm on freenode about it. Then request to be added to the pivotal tracker project and have at it!

