.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/debugging/" }
    Debugging
  %hr

%h2 Debugging RVM
%p
  More to come, however use the --trace flag for very verbose output of what RVM is doing:
  
%pre.code
  :preserve
    rvm --trace [[command]]