---
title: Debugging RVM
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/development/debugging/" }
    Debugging
  %hr

%h2 Debugging RVM

%p
  The easiest way to get help with rvm is to join the #rvm channel
  on freenode - You can use a
  %a{:href => "http://webchat.freenode.net/?channels=rvm"} web-based client
  if you don't already have an IRC application. If you're unable to chat in the channel,
  make sure you
  %a{:href => "http://www.wikihow.com/Register-a-User-Name-on-Freenode"} register your nick first

%p
  If you encounter an issue with rvm, you can make it greatly easier
  for us by following the steps below. Each one helps provide
  additional insight into what is going wrong.

%h3 Tracking Down Bugs

%p
  If you do encounter a bug, the first (and most important) information we need
  is related to how rvm is loaded. You should first confirm that rvm is loaded as a function.
  Do this by running:

= sh_cmd "type rvm | head -1"

%p
  which should output "rvm is a function". If it shows anything else, rvm isn't
  loading correctly. For information on why this occurs, and how to solve it,
  please see
  %a{:href => "/rvm/install/"} the bottom of the Installation instructions.

%p
  Next, we'll need two sets of information. Namely, the output
  of running 'rvm debug', like so:

= sh_cmd "rvm debug"

%p
  And the output of running the broken command
  %em with the trace option
  , e.g. if you're having a use problem:

= sh_cmd "rvm use ree"

%p
  you would need to try running it as:

= sh_cmd "rvm --trace use ree"

%p
  To share this information with us in IRC, use a site like
  %a{:href => "http://gist.github.com/"} gist
  or
  %a{:href => "http://pastie.org/"} pastie.
  We prefer gist, as it lets us easily fork
  your results and provide edited output; but either will suffice.

%h3 Reporting Bugs

%p
  First, please ensure you've read
  %a{:href => "http://www.chiark.greenend.org.uk/~sgtatham/bugs.html"} "How to Report Bugs Effectively"
  in order to speed up the whole process.

%p
  Report the bug on the project's
  %a{:href => "https://github.com/rvm/rvm/issues"} Github Issues
  page.
