.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/github/" }
    GitHub
  %hr

%h2 rvm on github

%pre
  :preserve
    git clone git://github.com/wayneeseguin/rvm.git

