---
title: RVM on GitHub
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/development/github/" }
    GitHub
  %hr

%h2 RVM Source Repository

%p
  RVM's source code repository is hosted and publically visible on
  %a{:href => "https://github.com/rvm/rvm"}
    GitHub
  \- The cloneable repository url is
  %a{:href => "git://github.com/rvm/rvm.git"}
    git://github.com/rvm/rvm.git
