.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/github/" }
    GitHub
  %hr

%h2 RVM Source Repository

%p
  RVM's source code repository is hosted and publically visible on
  %a{:href => "http://github.com/wayneeseguin/rvm"}
    GitHub
  \- The cloneable repository url is
  %a{:href => "git://github.com/wayneeseguin/rvm.git"}
    git://github.com/wayneeseguin/rvm.git
