.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/github/" }
    GitHub
  %hr

%h2 RVM Source Repository

%p
  RVM's source code repository is hosted public visabl on 
  %a{:href => "git://github.com/wayneeseguin/rvm.git"}
    GitHub
