rvm:
  - 1.9.3
script: bundle exec nanoc3 compile
language: ruby
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
      - "irc.freenode.org#rvm"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
