rvm:
  - 1.9.3
install: 'true'
before_script: rvm gemset import .gems
script: nanoc3 compile
language: ruby
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
      - "irc.freenode.org#rvm"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
