---
title: goruby
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/goruby/" }
    goruby
  %hr

%h1
  goruby

%h2
  Installing

%pre.code
  :preserve
    $ rvm install goruby

%h1
  Community Resources
%ul
  %li
