.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/ironruby/" }
    IronRuby
  %hr


%h1
  IronRuby
%p
  IronRuby is a ruby interpreter built on top of the .NET CLR.
  It also runs on top of the Mono framework (open source CLR).

%h3
  Prerequisites

%pre.code
  :preserve
    $ rvm requirements

%h2
  Installing

%pre.code
  :preserve
    $ rvm install ironruby

%p
  Please note that this requires that you first install the Mono framework properly.

%h1
  Community Resources
%ul
  %li
    %a{:href => "http://www.ironruby.net/", :target => "_blank"}
      http://www.ironruby.net/
