.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/jruby/" }
    JRuby
  %hr

%h1
  JRuby
%p
  JRuby is a ruby interpreter that gives the best of the JVM which has been field battle tested for many years, together with the awesomeness that is Ruby syntax.

%h3
  Website
%p
  %a{:href => "http://jruby.org/"}
    http://jruby.org/

%h3
  Installing

%pre.code
  :preserve
    ∴ rvm install jruby

