.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/macruby/" }
    MacRuby
  %hr

%h1
  MacRuby
%p
  MacRuby is a ruby interpreter built on top of Apple's NS Framework, it is aimed at allowing developers to create native OSX applications using Ruby!

%h3
  Website
%p
  %a{:href => "http://www.macruby.org/"}
    http://www.macruby.org/

%h3
  Installing

%pre.code
  :preserve
    ∴ rvm install macruby

