.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/macruby/" }
    MacRuby
  %hr

%h1
  MacRuby
%p
  MacRuby is a ruby interpreter built on top of Apple's NS Framework.
  It allows developers to create fully-native OSX applications that take advantage of Ruby!
%p
  Please note that much of the content below was taken from
  %a{:href => "https://github.com/MacRuby/MacRuby/blob/master/README.rdoc"}
    the README.rdoc on github

%h3
  Prerequisites

%pre.code
  :preserve
    $ rvm requirements

%h2
  Latest Release
%p
  Installing the latest official release known to RVM is the same procedure
  as for other interpreters.

%pre.code
  :preserve
    $ rvm install macruby

%h2
  Head (aka 'master')
%p
  Here's how you can install the latest macruby release from its github repository:
%p
  Please be sure you have installed LLVM and met all other requirements (see below) before you continue.

%pre.code
  :preserve
    $ rvm install macruby-head

%p
  MacRuby is a Ruby implementation based on Mac OS X technologies, such as the
  Objective-C runtime and garbage collector, the CoreFoundation framework and
  the LLVM compiler infrastructure.
%p
  The goal of MacRuby is to enable the creation of full-fledged Mac OS X
  applications which do not sacrifice performance in order to enjoy the benefits
  of using Ruby.

%p
  MacRuby is copyrighted free software by Apple Inc and covered by the terms of
  the Ruby license. Please refer to
  %a{:href => "https://github.com/MacRuby/MacRuby/blob/master/COPYING", :target => "_blank"}
    the COPYING file
  for more information.

%p
  %a{:href => "http://macruby.org/", :target => "_blank"}
    http://macruby.org/

%h3 Requirements

%ul
  %li
    An Intel machine. PowerPC machines are no longer supported, but may still
    work. An Intel 64-bit machine (Intel Core Duo 2 or later) is recommended.

  %li
    Mac OS X 10.6 or later.

  %li
    LLVM ToT, compiled for both i386 and x86_64.

%h3 Compiling LLVM

%p
  LLVM is a moving target, and breaks periodically. We recommend you install
  revision 106781.
  / still valid version recommendation?
  Make sure you specify the correct C and C++ compilers with
  environment variables.

%pre.code
  :preserve
    $ svn co -r 106781 https://llvm.org/svn/llvm-project/llvm/trunk llvm-trunk
    $ cd llvm-trunk
    $ env UNIVERSAL=1 UNIVERSAL_ARCH="i386 x86_64" CC=/usr/bin/gcc CXX=/usr/bin/g++ ./configure --enable-bindings=none --enable-optimized --with-llvmgccdir=/tmp
    $ env UNIVERSAL=1 UNIVERSAL_ARCH="i386 x86_64" CC=/usr/bin/gcc CXX=/usr/bin/g++ make
    $ sudo env UNIVERSAL=1 UNIVERSAL_ARCH="i386 x86_64" CC=/usr/bin/gcc CXX=/usr/bin/g++ make install

%p
  Compiling LLVM can take quite a while. If you have a machine with
  multiple cores, which is quite likely, you can speed up the process
  by using all/more cores. However, doing so may make your machine
  unresponsive during compilation. To use multiple cores, pass the `-j N'
  option, where `N' stands for the number of cores you want to use. So for a
  Core Duo, the command would look like:

%pre.code
  :preserve
    $ env UNIVERSAL=1 UNIVERSAL_ARCH="i386 x86_64" CC=/usr/bin/gcc CXX=/usr/bin/g++ make -j2

%h1
  Community Resources
%ul
  %li
    The project website contains more documentation, such as tutorials and guides. It
    can be found at
    %a{:href => "http://www.macruby.org/", :target => "_blank"}
      http://www.macruby.org/
