.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/macruby/" }
    MacRuby
  %hr

%h1
  MacRuby
%p
  MacRuby is a ruby interpreter built on top of Apple's NS Framework, it is aimed at allowing developers to create native OSX applications using Ruby!

%h2
  Installing

%pre.code
  :preserve
    $ rvm install macruby

%h1
  Community Resources
%ul
  %li
    %a{:href => "http://www.macruby.org/", :target => "_blank"}
      http://www.macruby.org/
