.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/maglev/" }
    MagLev
  %hr

%h1
  MagLev
%p
  MagLev is a ruby interpreter built on top of the GemStone VM,
  which is used in many massive-scale production deployments and mission-critical financial applications.

%h2
  Installing

%pre.code
  :preserve
    $ rvm install maglev

%h1
  Community Resources
%ul
  %li
    %a{:href => "http://maglev.gemstone.com/", :target => "_blank"}
      http://maglev.gemstone.com/
  %li
    %a{:href => "https://github.com/MagLev/maglev/blob/master/lib/ruby/1.8/include/Maglev_c_extensions.txt"}
      C extension restrictions.
