.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/mput/" }
    mput
  %hr


%h1
  URABE Shyouhei (mput)'s Ruby

%p
  This is a branch off of mainline MRI ruby bent on world domination and other nefarious things I assure you.
  Beyond the fact that it caused a lot of stir in Japan when I added support for this interpreter I have no idea what is special about it ;)

%h3
  Website
%p
  While I have no idea if there is an 'official' website for mput, you can
  %a{:href => "http://www.google.com/search?client=safari&rls=en&q=URABE+Shyouhei&ie=UTF-8&oe=UTF-8", :target => "_blank"}
    google
  for more information:

%h3
  Installing

%pre.code
  :preserve
    ∴ rvm install mput

