.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/mput/" }
    mput
  %hr


%h1
  URABE Shyouhei (mput)'s Ruby

%p
  This is a branch off of mainline MRI ruby bent on world domination and other nefarious things I assure you.
  Beyond the fact that it caused a lot of stir in Japan when I added support for this interpreter I have no idea what is special about it ;)

%h3
  Installing

%pre.code
  :preserve
    ∴ rvm install mput

