.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/rbx/" }
    Rubinius (rbx)
  %hr


%h1
  Rubinius
%p
  Rubinius is a ruby interpreter written in C++ using many advanced techniques and technologies such as LLVM, a "precise, compacting, generational garbage collector",
  a compatible C extension api to standard MRI Ruby and many other awesome ideas that will give any language nut a huge nerdon.

%h3
  Website
%p
  %a{:href => "http://rubini.us/", :target => "_blank"}
    http://rubini.us/

%h3
  Installing

%pre.code
  :preserve
    $ rvm install rbx

%p
  If you're installing rubinius on Ubuntu and you have issues with makeinfo
  missing, you can solve it by first installing the texi2html package by:

%pre.code
  :preserve
     $ sudo apt-get install texi2html

%p
  And then symlinking it to the makeinfo executable by running:

%pre.code
  :preserve
    $ sudo ln -s /usr/bin/texi2html /usr/bin/makeinfo

