.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/ree/" }
    Ruby Enterprise Edition
  %hr


%h1
  Ruby Enterprise Edition (REE)

%p
  REE builds on top of MRI Rubies versions 1.8.X in order to deliver an enhanced interpreter with many performance and memory optimizations.

%h3
  Website
%p
  %a{:href => "http://www.rubyenterpriseedition.com/"}
    http://www.rubyenterpriseedition.com/

%h3
  Installing

%pre.code
  :preserve
    ∴ rvm install ree

