.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/ruby/" }
    "ruby" aka MRI / YARV
  %hr

%h1
  Ruby ( MRI / YARV )

%p
  Ruby or 'MRI/YARV' ruby is a series of ruby interpreters.
  This is the original implementation of Ruby from which the standards (ruby-spec) are being extracted.

%h2
  Installing

%p
  Ruby is installed by specifying the version to install.
%pre.code
  :preserve
    ∴ rvm install 1.9.1    # Installs 1.9.1
    ∴ rvm install 1.8.7    # Installs 1.8.7

%h1
  Community Resources
%ul
  %li
    %a{:href => "http://www.ruby-lang.org/", :target => "_blank"}
      http://www.ruby-lang.org/

