.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/credits/" }
    Credits
  %hr

%h2
  %a{:href => "/credits/"} Credits
%p
  %ul
    %li
      %a{:href => "/credits/thanks/"} Contributions
    %li
      %a{:href => "/credits/donations/"} Donations
    %li
      %a{:href => "/credits/funding/"} Funding
