.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/deployment/" }
    Deployment 
  %hr

%h2
  %a{:href => "/deployment/"} Deploying Ruby Apps with RVM 
%p
  %ul
    %li
      %a{:href => "/deployment/system-wide/"} System Wide Installs
