.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  %hr

%h2
  %a{:href => "/development/"} Development
%p
  %ul
    %li
      %a{:href => "/development/list"} Mailing List
    %li
      %a{:href => "/development/github/"} Git (GitHub)
    %li
      %a{:href => "/development/tracker/"} Pivotal Tracker Project
    %li
      %a{:href => "/development/contributing/"} Contributing
    %li
      %a{:href => "/development/debugging/"} Debugging

