---
title: Something is broken.
---

%p I'm pretty sure something must broke, that or you have managed to navigate to a page that no longer exists.  If you think this is an error please contact somebody on #rvm (via Freenode.net) and ask if it might be a mistake.
