.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    gemsets
  %hr

%h2
  %a{:href => "/gemsets/"} gemsets

%p
  %ul
    %li
      %a{:href => "/gemsets/basics/"} Basics
    %li
      %a{:href => "/gemsets/creating/"} Creating
    %li
      %a{:href => "/gemsets/using/"} Using
    %li
      %a{:href => "/gemsets/listing/"} Listing
    %li
      %a{:href => "/gemsets/deleting/"} Deleting
    %li
      %a{:href => "/gemsets/emptying/"} Emptying
    %li
      %a{:href => "/gemsets/exporting/"} Exporting (dumping)
    %li
      %a{:href => "/gemsets/importing/"} Importing (loading)
    %li
      %a{:href => "/gemsets/copying/"} Copying
    %li
      %a{:href => "/gemsets/global/"} Global
