.breadcrumbs
  %a{ :href => "/" }
    Documentation

%h1
  Cut Rubies with ease...
%img{ :src => "http://img.skitch.com/20090904-fyqnyu8pcr36ahe91er9x28bhi.png", :alt => "w00t!" }

%h1 Documentation

%h2 Chapters

%ul
  %li
    %a{:href => "/rvm/"} rvm

  %li
    %a{:href => "/interpreters/"} Interpreters

  %li
    %a{:href => "/rubies/"} Rubies

  %li
    %a{:href => "/gemsets/"} Gemsets

  %li
    %a{:href => "/set/"} Set Actions

  %li
    %a{:href => "/workflow/"} Workflow

  %li
    %a{:href => "/integration/"} Integrating rvm with other software

  %li
    %a{:href => "/support/"} Help & Support

  %li
    %a{:href => "/development/"} Development

  %li
    %a{:href => "/credits/"} Credits

