.breadcrumbs
  %a{ :href => "/" }
    Documentation

%h1
  Cut Rubies with ease...
%img{ :src => "http://img.skitch.com/20090904-fyqnyu8pcr36ahe91er9x28bhi.png", :alt => "" }

%h1 Documentation

%h2 Chapters

%ul
  %li
    %a{:href => "/rvm/"} rvm

  %li
    %a{:href => "/interpreters/"} Interpreters

  %li
    %a{:href => "/rubies/"} Working with Rubies

  %li
    %a{:href => "/workflow/"} Workflow Components

  %li
    %a{:href => "/integrating/"} Integrating rvm with other software

  %li
    %a{:href => "/support/"} Help & Support

  %li
    %a{:href => "/development/"} Development

  %li
    %a{:href => "/credits/"} Credits

