.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    Interpreters
  %hr

%h2
  %a{:href => "/interpreters/"} Interpreters

%p
  %ul
    %li
      %a{:href => "/interpreters/ruby/"} MRI/YARV (ruby)
    %li
      %a{:href => "/interpreters/rbx/"} Rubinius (rbx)
    %li
      %a{:href => "/interpreters/jruby/"} JRuby (jruby)
    %li
      %a{:href => "/interpreters/ree/"} Ruby Enterprise Edition (ree)
    %li
      %a{:href => "/interpreters/maglev/"} MagLev (maglev)
    %li
      %a{:href => "/interpreters/ironruby/"} IronRuby (ironruby)
    %li
      %a{:href => "/interpreters/macruby/"} MacRuby (macruby)
    %li
      %a{:href => "/interpreters/goruby/"} GoRuby (goruby)

