= breadcrumbs "Integration"

%h2
  %a{:href => "/integration/"} Integrating RVM with other software
%p
  %ul
    %li
      %a{:href => "/integration/databases/"} Databases
    %li
      %a{:href => "/integration/zsh/"} Zsh
    %li
      %a{:href => "/integration/fish/"} Fish
    %li
      %a{:href => "/integration/bundler/"} Bundler
    %li
      %a{:href => "/integration/memprof/"} MemProf
    %li
      %a{:href => "/integration/passenger/"} Passenger
    %li
      %a{:href => "/integration/textmate/"} Textmate
    %li
      %a{:href => "/integration/emacs/"} Emacs
    %li
      %a{:href => "/integration/netbeans/"} Netbeans
    %li
      %a{:href => "/integration/culerity/"} Culerity
    %li
      %a{:href => "/integration/capistrano/"} Capistrano
    %li
      %a{:href => "/integration/sketchup/"} SketchUp
    %li
      %a{:href => "/integration/god/"} God
    %li
      %a{:href => "/integration/hudson/"} Hudson
    %li
      %a{:href => "/integration/vim/"} Vim
