.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/interpreters/" }
    interpreters
  %hr

%h2
  %a{:href => "/integration/"} integration rvm with other software
%p
  %ul
    %li
      %a{:href => "/integration/databases/"} Databases
    %li
      %a{:href => "/integration/zsh/"} Zsh
    %li
      %a{:href => "/integration/bundler/"} Bundler
    %li
      %a{:href => "/integration/passenger/"} Passenger
    %li
      %a{:href => "/integration/textmate/"} Textmate
    %li
      %a{:href => "/integration/netbeans/"} Netbeans
    %li
      %a{:href => "/integration/culerty/"} Culerty / Capybara
