.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/libraries/" }
    Libraries
  %hr

%h2
  %a{:href => "/libraries/"} Libraries
%p
  %ul
    %li
      %a{:href => "/libraries/readline/"} ReadLine
    %li
      %a{:href => "/libraries/iconv/"} IConv
    %li
      %a{:href => "/libraries/zlib/"} Zlib
    %li
      %a{:href => "/libraries/openssl/"} OpenSSL
