.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/os/" }
    Operating Systesm
  %hr

%h2
  %a{:href => "/os/"} Operating Systems
%p
  %ul
    %li
      %a{:href => "/os/archlinux/"} Arch Linux
    %li
      %a{:href => "/os/centos/"} CentOS / RedHat
    %li
      %a{:href => "/os/darwin/"} Darwin
    %li
      %a{:href => "/os/debian/"} Debian / Ubuntu
    %li
      %a{:href => "/os/gentoo/"} Gentoo
    %li
      %a{:href => "/os/other/"} Other

