.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/packages/" }
    Packages
  %hr

%h2
  %a{:href => "/packages/"} Packages
%p
  %ul
    %li
      %a{:href => "/packages/readline/"} Readline
    %li
      %a{:href => "/packages/iconv/"} IConv
    %li
      %a{:href => "/packages/zlib/"} Zlib
    %li
      %a{:href => "/packages/openssl/"} OpenSSL
    %li
      %a{:href => "/packages/autoconf/"} Autoconf
%p
  Also available using rvm:
  %ul
    %li curl
    %li gettext
    %li glib
    %li libxml2
    %li libxslt
    %li libyaml
    %li llvm
    %li mono
    %li ncurses
    %li pkgconfig
