---
title: "'rvm pkg' - Ruby Dependency Package installer."
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/packages/" }
    Packages
  %hr

%h2
  Quick fix
%p
  Remove all the manually installed packages:
  = sh_cmd "rm -rf $rvm_path/usr"
  Find the requirements (follow the instructions):
  = sh_cmd "rvm requirements"
  Reinstall ruby:
  = sh_cmd "rvm reinstall 1.9.3"

%h2
  %a{:href => "/packages/"} Packages
%p
  %ul
    %li
      %a{:href => "/packages/readline/"} Readline
    %li
      %a{:href => "/packages/iconv/"} IConv
    %li
      %a{:href => "/packages/zlib/"} Zlib
    %li
      %a{:href => "/packages/openssl/"} OpenSSL
    %li
      %a{:href => "/packages/autoconf/"} Autoconf
%p
  Also available using rvm:
  %ul
    %li curl
    %li gettext
    %li glib
    %li libxml2
    %li libxslt
    %li libyaml
    %li llvm
    %li mono
    %li ncurses
    %li pkgconfig
