.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/presentations/" }
    Presentations
  %hr

%h2
  %a{:href => "/presentations/"} Presentations
%p
  %ul
    %li
      %a{:href => "/presentations/mwrc-2010/"} MWRC 2010
