.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/presentations/" }
    Presentations
  %hr

%h2
  %a{:href => "/presentations/"} Presentations
%p
  %ul
    %li
      %a{:href => "http://www.confreaks.com/videos/3-mwrc2010-managing-ruby-projects-with-rvm"}
        MWRC 2010 Presentation Video
  %ul
    %li
      %a{:href => "http://blip.tv/file/3766138"}
        Interview at RailsConf 2010
