.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/presentations/" }
    Presentations
  %hr

%h2
  %a{:href => "/presentations/"} Presentations
%p
  %ul
    %li
      %a{:href => "/presentations/mwrc-2010/"} MWRC 2010
  %ul
    %li
      %a{:href => "http://mwrc2010.confreaks.com/2010-03-11-10-30-wayne-e-seguin-managing-ruby-projects-with-rvm.html"}
        MWRC 2010 Presentation Video
  %ul
    %li
      %a{:href => "http://blip.tv/file/3766138"}
        Interview at RailsConf 2010
