.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  %hr

%h2
  %a{:href => "/rubies/"} Working with Rubies
%p
  %ul
    %li
      %a{:href => "/rubies/installing/"} Installing Rubies
    %li
      %a{:href => "/rubies/default/"} Setting Default interpreter
    %li
      %a{:href => "/rubies/gems/"} Ruby Gems
    %li
      %a{:href => "/rubies/gemsets/"} Named gems(ets)

