.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  %hr

%h2
  %a{:href => "/rubies/"} Working with Rubies
%p
  %ul
    %li
      %a{:href => "/rubies/installing/"} Installing Rubies
    %li
      %a{:href => "/rubies/patching/"} Patching Rubies
    %li
      %a{:href => "/rubies/upgrading/"} Upgrading Rubies
    %li
      %a{:href => "/rubies/default/"} Setting Default interpreter
    %li
      %a{:href => "/rubies/rubygems/"} RubyGems
    %li
      %a{:href => "/rubies/info/"} Info
    %li
      %a{:href => "/rubies/list/"} List
    %li
      %a{:href => "/rubies/strings/"} Strings
    %li
      %a{:href => "/rubies/docs/"} Docs
    %li
      %a{:href => "/rubies/alias/"} Alias
