.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/" }
    rvm
  %hr

%h2
  %a{:href => "/rvm/"} RVM

%p
  %ul
    %li
      %a{:href => "/rvm/basics/"} Basics
    %li
      %a{:href => "/rvm/best-practices/"} Best Practices
    %li
      %a{:href => "/rvm/prerequisites/"} Prerequisites
    %li
      %a{:href => "/rvm/install/"} Installation
    %li
      %a{:href => "/rvm/configuration/"} Configuration
    %li
      %a{:href => "/rvm/upgrading/"} Upgrading
    %li
      %a{:href => "/rvm/cli/"} CLI
    %li
      %a{:href => "/rvm/info/"} Info
    %li
      %a{:href => "/rvm/about/"} About
    %li
      %a{:href => "/rvm/myths/"} Myths

