%h2
  %a{:href => "/rvm/"} rvm

%p
  %ul
    %li
      %a{:href => "/rvm/introduction/"} Introduction
    %li
      %a{:href => "/rvm/prerequisites/"} Prerequisites
    %li
      %a{:href => "/rvm/installation/"} Installation
    %li
      %a{:href => "/rvm/upgrading/"} Upgrading
    %li
      %a{:href => "/rvm/cli/"} CLI
    %li
      %a{:href => "/rvm/about/"} About

