%a{ :href => "/" }
  Documentation
&nbsp;>&nbsp;
%a{ :href => "/set/" }
  Set

%h2
  %a{:href => "/set/"} Set Actions

%p
  It is often necessary to run a ruby command against multiple ruby interpreters all at once.
  Ruby set commands accomplish this.
  %ul

    %li
      %a{:href => "/set/ruby/"} ruby
    %li
      %a{:href => "/set/rake/"} rake
    %li
      %a{:href => "/set/gem/"} gem
    %li
      %a{:href => "/set/benchmark/"} benchmarking
    %li
      %a{:href => "/set/monitor/"} Monitor Tests
