---
title: Ruby set/do actions
---

%a{ :href => "/" }
  Documentation
&nbsp;>&nbsp;
%a{ :href => "/set/" }
  Set

%h2
  %a{:href => "/set/"} Set Actions

%p
  It is often necessary to run a ruby command against multiple ruby interpreters all at once.
  Ruby set commands accomplish this.
  %ul
    %li
      %a{:href => "/set/do/"} do
    %li
      %a{:href => "/set/tests/"} tests
    %li
      %a{:href => "/set/benchmark/"} benchmark
