.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  %hr

%h2
  %a{:href => "/support/"} Help & Support
%p
  If you are new to RVM and need help, please join #rvm on
  irc.freenode.net which is explained on the IRC page linked to below.
  Leave a message for me there, and stay connected or check back as I will
  respond as soon as I have a chance. Don't just wait for me though, there are plenty
  of knowledgable users in the channel willing to help.
%p
  If you are an experienced RVM user, and have what you can show in a gist as a
  bug, then please chat with me in #rvm and file an issue on github for it as well.
%p
  %ul
    %li
      %a{:href => "/support/faq/"} FAQ & Notes
    %li
      %a{:href => "/support/troubleshooting/"} Troubleshooting
    %li
      %a{:href => "/support/irc/"} IRC
    %li
      %a{:href => "https://github.com/wayneeseguin/rvm/issues"} Issue Tracker

%p
  NOTE: Please be sure to view the CLOSED issues as well, a great many issues have
  been solved previously and the solution (bug fix or configuration changes) posted
  in the Issue. In most cases, a link is provided to the closing repository commit.
  We ask this because we get a LOT of duplicate Issues filed, and this allows us to 
  properly triage Issues. Thank you!
