.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  %hr

%h2
  %a{:href => "/support/"} Help & Support
%p
  %ul
    %li
      %a{:href => "/support/faq/"} FAQ & Notes
    %li
      %a{:href => "/support/troubleshooting/"} Troubleshooting
    %li
      %a{:href => "/support/irc/"} IRC
