---
title: "RVM Workflow"
---

= breadcrumbs "Workflow"
= menu_for("/workflow/", "h2")

%h2 Community Resources

Check out this excellent blog post: <a href="http://rubylearning.com/blog/2010/12/20/how-do-i-keep-multiple-ruby-projects-separate/">ruby project workflow</a>
