%a{ :href => "/" }
  Documentation
&nbsp;>&nbsp;
%a{ :href => "/workflow/" }
  Workflow

%h2
  %a{:href => "/workflow/"} Workflow Components
%p
  %ul
    %li
      %a{:href => "/workflow/rvmrc/"} rvmrc
    %li
      %a{:href => "/workflow/prompt/"} Prompt
    %li
      %a{:href => "/workflow/ruby/"} ruby 'do' action
    %li
      %a{:href => "/workflow/rake/"} rake 'do' action
    %li
      %a{:href => "/workflow/gem/"} gem 'do' action
    %li
      %a{:href => "/workflow/benchmark/"} benchmarking
    %li
      %a{:href => "/workflow/monitor/"} monitoring
    %li
      %a{:href => "/workflow/"} Hooks
    %li
      %a{:href => "/workflow/subshells/"} Subshells
    %li
      %a{:href => "/integration/"} Examples
