---
title: "RVM Workflow"
---

= breadcrumbs "Workflow"
= menu_for("/workflow/", wrapper: "h2", show_ignored: true)

%h2 Community Resources

Check out this excellent blog post: <a href="http://rubylearning.com/blog/2010/12/20/how-do-i-keep-multiple-ruby-projects-separate/">ruby project workflow</a>
