%a{ :href => "/" }
  Documentation
&nbsp;>&nbsp;
%a{ :href => "/workflow/" }
  Workflow

%h2
  %a{:href => "/workflow/"} Workflow
%p
  %ul
    %li
      %a{:href => "/workflow/rvmrc/"} rvmrc
    %li
      %a{:href => "/workflow/prompt/"} Prompt
    %li
      %a{:href => "/workflow/hooks/"} Hooks
    %li
      %a{:href => "/workflow/subshells/"} Subshells
    %li
      %a{:href => "/workflow/examples/"} Examples
