.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/qa/" }
    Quality Assurance
  &nbsp;>&nbsp;
  %a{ :href => "/qa/software_testing/" }
    Software Testing
  %hr

%h2
  Software Testing

%p
  The RVM project has implemented a QA (Quality Assurance) department which will be responsible for overall testing and quality control of the RVM Project. The aim of this is to minimize any potential injection of unexpected and troublesome bugs in the RVM Project's software. What this means to you, the end user, is a higher quality software product that you can be more than reasonably assured has met stringent and rigorous testing to assure proper operations.

%p
  As of November 7, 2011, RVM now has a working RVM Testing Suite, backed by a 5 node testing cluster. The node members currently run the most commonly deployed platforms on which RVM is used in the mainstream. These platforms currently are
  %a{ :href=> "http://www.debian.org" }
    Debian GNU/Linux,
  %a{ :href=> "http://www.ubuntu.com" }
    Ubuntu,
  %a{ :href=> "http://www.centos.org" }
    CentOS,
  %a{ :href=> "http://www.opensuse.org" }
    OpenSUSE,
  and
  %a{ :href=> "http://www.apple.com/osx/" }
    OS X
  The test cluster *only* runs the official stable release, which is our 'master' branch. The
  %a{ :href=> "http://www.osaic.com/index.cfm?member=unitedway" }
    United Way of Bruce Grey
  (Canada), and the
  %a{ :href=> "http://bglug.ca" }
    Bruce-Grey Linux Users Group
  (Canada) deserve a special thanks for donation of the equipment for the test cluster.

%p
  RVM Test Suite is a ruby-based testing suite, and is
  %a{ :href => "https://github.com/wayneeseguin/rvm-test/" }
    available here.
  Please see the link for installation and usage information.

%p
  From all of us here at the RVM Project, we would like to say Thank You! to everyone who helped us get this show on the road!
