.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/qa/" }
    Quality Assurance
  &nbsp;>&nbsp;
  %a{ :href => "/qa/software_testing/" }
    Software Testing
  %hr

%h2
  Software Testing

%p
  The RVM project has decided to implement a QA (Quality Assurance) department which will be responsible for overall testing and quality control of the RVM Project. The aim of this move is to minimize any potential injection of unexpected and troublesome bugs in the Project's software. What this means to you, the end user, is a higher quality software product that you can be reasonably assured has met stringent and rigorous testing to assure proper operations.

%p
  Currently, RVM is implementing a testing cluster utilizing the most popular, and most commonly deployed platforms on which RVM is used in the mainstream. These platforms currently include Debian GNU/Linux, Ubuntu, CentOS, and OpenSUSE, with OS X Lion coming soon. RVM is currently doing research in order to define its testing methodologies and procedures. Please check back here often as this section will be updated as we go along.

%p
  A basic ruby-based rvm testing suite is available here called, aptly enough, the 
  %a{ :href => "https://github.com/wayneeseguin/rvm-test/" }
    RVM Test Suite.
  This suite has been tested on our testing cluster to ensure it works correctly. The initial release version is set to tag v0.0.1. Please see the link for information on how to install and use it.

%p
  Thank You!
