.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/faq/" }
    FAQ
  %hr

%h1
  RVM FAQ & Notes

%h2
  Do I need to use sudo with gems?
%p
  %strong
    NO. DO NOT USE sudo
  for RVM managed rubygems.
  If you require more explanation see the
  %a{ :href => "/gems/" }
    gems
  page.

%h2
  Install gems as root?
%p
  %strong
    NO.
  If you require more explanation see the
  %a{ :href => "/gems/" }
    gems
  page.

%h2
  RVM is not found or the RVM selected default ruby is not set for new shells...
%p
  RVM must be included at the bottom of the profile files. Otherwise your settings will clobber it's (example: PATH). Refer to the 
  %a{:href => "/rvm/install/"} install directions
  to include this in your PATH.

%h2
  Does RVM work on windows? Will it in the future?
%p
  NO. If you would like to manage multiple versions of ruby on windows please use pik which is an excellent tool by Gordon Thiesfeld. You can find it on
  %a{:href => "http://github.com/vertiginous/pik/"}
    Github.

%h2
  Can I use a path with spaces?
%p
  Currently spaces in paths are not supported. Patches welcome :)

%h2
  How do I set a ruby to be default?
%p
  Seting the default ruby is
  %a{ :href => "/setdefault" }
    explained here
  \.

%h2
  What are the defaults.
%p
  The default interpreter is 'ruby'.  
  The default versions for each ruby interpreter are set in ~/.rvm/config/db and can be overridden by the user in ~/.rvm/config/user.
%h2
  Where are Ruby Gems kept?
%ul
  %li
    Ruby Gems for all installed ruby interpreters and versions are stored completely separate.
    Gems are located in ~/.rvm/gems/$ruby_string. 
    Gems can be additionally separated using
    %a{ :href => "/gemsets" }
      Gem Sets
    \.
    A gem directory using gemsets is of the form:  ~/.rvm/gems/$ruby_string@gemset_name

%h2
  Where is everything installed to ?
%p
  RVM installs everything into ~/.rvm. To remove RVM from your system simply remove ~.rvm.
  You may have one additional config file in ~/.rvmrc and of course the RVM hook in your bash/zsh startup files.

%h2
  Do I need the gem after I install RVM?
%p
  No, the gem is only used for distribution, you can just as easily clone the github repo and run ./install.
  After installation the Gem is no longer necessary and can be safely removed.

%h2
  My ruby is compiling as 32 bit but I am on Mac OS X Snow Leopard which has heavy advertisement that it is 64 bit!!!
%p
  RVM compiles to your current running kernel's architecture. This means that if your kernel is running as a 32 bit kernel (uname -m) it will compile 32 bit. You can override this behavior by placing the following in your ~/.rvmrc before installing the ruby interpreter:
%pre.code
  :preserve
    rvm_archflags="-arch x86_64"


