---
title: "#rvm on irc.freenode.net"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/irc/" }
    IRC
  %hr

%h2 Community Maintained Project
%p
  RVM is maintained by the community through pull requests sent to the project
  repository which is located on github at
  %a{:href => "https://github.com/rvm/rvm"}
    https://github.com/rvm/rvm

%hr
%h2 Community Supported Project
%p
  RVM is supported by the community via either the (google group)
  %a{:href => 'http://groups.google.com/group/rubyversionmanager/'}
    Mailing List

  or more real time help via gracious users in the the RVM IRC channel
  %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
    \#rvm on irc.freenode.net

