.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/irc/" }
    IRC
  %hr

%p
  I can be reached as 'wayneeseguin' in
  %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
    #rvm on irc.freenode.net
%p
  If I do not respond right away, leave a message I respond when I get back on.
