.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/irc/" }
    IRC
  %hr

%p
  I hang out on
  %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
    irc.freenode.net#rvm
  My nick is 'wayneeseguin'.
  If I do not respond right away, leave a message I respond when I get back on.
