---
title: "Issues tracker"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/irc/" }
    Issues tracker
  %hr

%h2 Community Maintained Project
%p
  RVM is maintained and supported by the community via issue trackers and pull requests:
  %ul
    %li
      %a{:href => "https://github.com/rvm"}
        on each project in RVM GitHub organization,
    %li
      especially
      %a{:href => "https://github.com/rvm/rvm/issues"}
        RVM project issues tracker.

%p
  In the past the community did maintain IRC presence, there might be
  still people there answering questions, but the nature of IRC can lead
  to lost communication and is not reliable, please use github issues to
  report problems.
