---
title: "Net Etiquette"
---



%h1 Net Etiquette

%p
  The Internet (or 'Net, or Net) is a network formed of many different smaller networks of computers. However, to see it only as a set of computers is misleading, because most of those computers are being used by human beings. Knowing how to interact with a computer is an important skill, but knowing how to interact with other people who are using computers requires some additional considerations.

%p
  The Internet can be divided, roughly speaking, into several different protocols, or agreed-upon means of exchanging information. These protocols include SMTP (electronic mail transfer), HTTP (hypertext transfer, for web pages), IRC (Internet Relay Chat), NNTP (network news transfer), and so on. Computers use these protocols to exchange information with each other -- but they do so at the behest of their human operators.

%p
  As humans, we select software which allows us to communicate with other humans (or computers) in whatever fashion we find most convenient. The software gives us an interface -- a "way in" -- to what we often perceive as a location. We speak of "web forums", for example, as places where people can "go" to "talk" with each other. Likewise, we have "news groups", "mailing lists", "chat rooms", etc. Once we have mastered the basic features of the software, we see all these things as places where there are other people, to whom we can talk. We use vocabulary which mimics our corporeal experience -- "go", "talk", "say" -- even when we aren't actually moving around or using our voices.

%p
  Just as people in the "real world" interact with each other in different ways, there are similar interactions in "cyberspace". People agree, disagree, argue, like each other, dislike each other, form friendships, compete, help, hinder, insult, titillate, etc. And because people can "meet" in virtual spaces more easily than they can in the real world (there's no need to get on a jet and fly to Singapore to "meet" with your Singaporean friend), these social interactions can happen extremely quickly.

%p
  Group dynamics are also extremely important. "Places" where people "meet" together often develop group characteristics which are unique to those spaces. An AOL chat room has a very different atmosphere than a Linux web forum, which in turn is very different from a mailing list about cheeses. Yet, there will be many aspects in common. This page attempts to describe some of the common characteristics of virtual communities, their rules (written or unwritten), and a rough suggestion of ways people can interact with each other more productively.

%p
  A guide to social behaviors is called etiquette. A guide to social behaviors for the Internet is therefore called net etiquette, or netiquette.

%h2
  General Rules

%h3
  Listen before you speak

%p
  Your attempts to talk with an existing community will be received much more readily if you adopt a style similar to that of the other members of that community. In addition, if there is a heated discussion going on, you're not likely to get the full attention of the community.

%p
  So, in order to fit in, the first step is to listen to what's currently going on. Are they arguing about something? Wait a few minutes (for interactive forums like chat; longer for mailing lists) and see if it dies down a bit. Meanwhile, take note of what language they're speaking; what dialect of it, if any; whether they use proper spelling and punctuation and grammar, or whether shortcuts, abbreviations, or replaced text are the norm; and so on.

%p
  If a community is speaking English, you should speak English, to the best of your ability. If they're speaking French, you should speak French. If they tend to use proper spelling, then you should conform, or they're going to receive you poorly. Using abbreviations like "R" for "are", "U" for "you", "pls" for "please", etc. will earn you a great deal of hostility in some communities, but is perfectly acceptable in others.

%p
  When in doubt, you should definitely exert the effort to speak as clearly and as formally as possible. It's far, far better to use overly formal language than slang. You can always relax your grammar and spelling once you know where the lines are drawn.

%h3 Don't spam

%p
  Spam in this case covers a few different actions:

%p
  off-topic announcements intended to earn a profit
  frequent repetition of your questions to try to get more attention
  Both of these things are considered serious offenses by most communities; especially the former. Most communities that have any sort of access controls will use those controls to evict you at the first sign of commercial spamming, with no discussion or forgiveness. Many communities will take similar actions if you post URLs that earn you virtual resources (fame, fortune, "points") in any sort of online game that counts URL clicks -- that is also a form of profit for you.

%p
  Repeating a question should generally only be done if you're completely sure it was missed the first time. This means you need to wait a considerable length of time for replies before getting impatient. There is no general rule for how long this should be; it completely depends on the community.

%p
  Also, repeating the same question verbatim is considered bad form. It shows that you are not taking any initiative to resolve your own problem, or to add to the discussion. You should be spending the time between repetitions doing your own research into the problem, and adjust your question based on what you've learned. For example, "I see on <paste URL> that I can't put the foo directly into the bar, but is there any way I can work around that? I really need to put the foo somewhere."

%h3 Don't troll

%p
  Trolling is often a touchy subject, especially since it's so difficult to define. In a nutshell, a troll is a troublemaker -- someone who starts arguments for fun. Going into a community about banjos and saying how much better guitars are, compared to banjos, would be one example of trolling. But trolling is often far more subtle than this, and perception of trolls is quite subjective.

%p
  Trolls usually hang around in the larger communities, because they crave the largest possible audience. In smaller communities, they're a rare sight. Some of the common trolling techniques include:

%p
  advocating something that competes with the target community's focus (guitars vs. banjos, Windows vs. Macintosh, BSD vs. Linux, ...)
  pretending to have a problem you do not actually have (technical, medical, etc.)
  consistently inappropriate, off-topic discussions, often involving minority group slurs, political issues, religious beliefs, etc.
  isolating one member of the community, finding issues that will upset that person, and then proceeding to do just that
  A related topic is metadiscussion of the community itself. This can be tricky to handle correctly; it's one thing to point out a problem that you see, but quite another to launch into a dogmatic sermon about how people should change their behaviors in order to suit some subjective ideal. Attempting to change a community, or its long-standing beliefs, is likely to cause strife.

%h3 Be a partner, not a burden

%p
  This applies mostly to communities that offer supportive advice, but it can be generalized somewhat. When seeking assistance with something, you should do your own "homework" on the issues before asking for help. Make sure you've read the appropriate documentation, as well as the community's general help files, if any (see the various sections below...). If your problem is the sort that can be approached by experimenting, make sure you've actually triedproceeding to do just that
%p
  A related topic is metadiscussion of the community itself. This can be tricky to handle correctlyapply to irreversible medical procedures, etc.)

%p
  Nobody wants to waste time helping someone who's a burden. Of course, the line between "burden" and "novice" is subjective, and different communities (and often different people within a single community) will draw that line differently. Listening to other people's questions for a while before you ask yours would be one excellent way to get a feel for how much of the work you're expected to do on your own (see the first section above).

%p
  Always do the best you can on your own. If you're intentionally being lazy, using the community as a substitute for reading a manual you know you are supposed to be reading, you'll earn a lot of animosity.d different communities (and often different people within a single community) will draw that line differently. Listening to other people's questions for a while before you ask yours woull language (English, Spanish, etc.) well enough -- and in many cases, the community will make allowance for that, if it's obvious that you're putting forth the best effort you can. But if it's clear you're just being lazy, fewer people are going to be willing to help you.

%h3 Details matter

%p
  Nothing is more frustrating than trying to solve a problem that isn't clearly defined. Even worse, a problem which has been misrepresented will giveople within a single community) will draw that line differently. Listening to other people's questions for a while before you ask yours woull language (English, Spanish, etc.) well enough -- and in many cases, the community will make allowance for ththen give a "simplified" example from this category you've selected. There's a very good chance that your problem is not what you think it is, so you should always say exactly what you're doihile before you ask yours woull language (English, Spanish, etc.) well enough -- and in many cases, the community will make allowance to give a "simplified" example from this category you've selected. There's a very good chance that your problem is not what you think it is, so you should always say exactly what you're doihile before you ask yours woull language (English, Spanish, etc.) well enough -- and in many cases, the commt seeing the actual error messages or output that you're seeing.

%p
  Give all the necessary background information. If this is a computer problem, tell the community what kind of computer you use. If it's a software problem, tell what software you're using (including version numbers where possible). If it's a car problem, tell what make and model and year the car is.

%p
  If you're looking for help with code, be sure you show the actual code you're using. Don't retype the code into the software you're using, because you might accidentally mistype it. Always paste it verbatim. (But be sure to respect your community's guidelines regarding large messages.)

%h3 Those are people, not robots

%p
  Sometimes it's easy to take other people for granted. This is even easier when you can't actually see or hear the other people, but instead, only the words they've written. Nevertheless, the people who are answering your questions or discussing your favorite topics with you are people, and they're subject to the same problems and limitations that you are.

%p
  Never demand answers. You aren't entitled to anyone else's help on the Internet unless you're paying them for it, in which case, you'd probably be talking with them directly, instead of through a web forum or chat room. The people talking with you are taking time out of their own busy lives to do so, and they may not have the time or thnot robots

%p
  Sometimes it's easy to take other people for granted. This is even easier when you can't actually see or hear the other people, but instead, only the words they've written. Neng for help says "I'm in a hurry." Well, tough shit. Improper planning on your part does not constitute an emergency on ours.)

%h2 Resources
%ul
  %li
    Taken from Greg Wooledge's 'NetEtiquette' wiki page, originally at: http://mywiki.wooledge.org/NetEtiquette.
  %li
    More Netiquette
    %a{:href => 'http://en.wikipedia.org/wiki/Etiquette_(technology)'}
    %a{:href => 'http://tools.ietf.org/html/rfc1855'}
