.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/integration/bundler/" }
    Bundler
  %hr

%h2
  Bundler

%p
  Previous versions of Bundler < 0.9.7 had issues playing nicely in an RVM environment.  
  Updating bundler to >= 0.9.7 of bundler with the latest version of 
  RVM >= 0.1.17 should rectify these problems as both are now aware of each other
  (RVM now sets BUNDLE_PATH and bundler actually listens to it).

%h1
  Community Resources
%ul
  %li
    You can read bundler's README on 
    %a{:href => "http://github.com/carlhuda/bundler"}
      GitHub

