= breadcrumbs "Integration", "Bundler"

%h2
  Bundler

%p
  Unfortunately attempts to make rvm and bundler integrate were rejected
  by bundler team. As a temporary solution a new game was created which was
  discussed with rubygems and bundler teams, as they not really like the
  solution be warned they will most likely not support.

%p
  Installation:
  %pre.code
    :preserve
      gem install rubygems-bundler
  And follow onscreen instructions, for mor information visit
  %a{:href => "https://github.com/mpapis/rubygems-bundler"}
    rubygems-bundler @ github

%h1
  Community Resources
%ul
  %li
    You can read bundler's README on
    %a{:href => "http://github.com/carlhuda/bundler"}
      GitHub
