= breadcrumbs "Integration", "Bundler"

%h2
  Bundler

%p
  RVM >= 1.0.23 and Bundler >= 1.0.5 are made to work great with each other.
  Be sure to be using the latest release of each.

%h1
  Community Resources
%ul
  %li
    You can read bundler's README on
    %a{:href => "http://github.com/carlhuda/bundler"}
      GitHub

