.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/jruby/" }
    JRuby
  %hr

%h2
  Bundler

%p
  rvm 0.1.14+ supports bundler 0.9.6+. Earlier versions of either may cause unpredictable behavior when used together.

%h1
  Community Resources
%ul
  %li

