.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/integration/culerity/" }
    Culerity
  %hr

%h2
  Setting up Capybara w/ Clerity using RVM

%p
  The following steps will setup ruby 1.8.7-P174 as well as the gems required for Capybara and Culerity support. It will also install Celerity using macports-managed JRuby. Note: sudo is not used.

%pre.code
  :preserve
    ∴ rvm install 1.8.7-p174
    ∴ rvm 1.8.7-p174
    ∴ gem install rails cucumber capybara webrat rspec cucumber-rails email_spec database_cleaner rspec-rails factory_girl clearance formtastic sqlite3-ruby pg thin mongrel paperclip will_paginate ZenTest autotest-rails culerity
    ∴ rvm jruby-1.4.0
    ∴ gem install celerity
    ∴ rvm 1.8.7-p174
    ∴ cd /path/to/your/rails/app
%p
  Add hooks.rb to your features/support/ directory. Make sure to update the paths. Now, when using Capybara, @culerity tagged scenarios will run correctly.

%p
  When you run rake features, ruby-1.8.7-p174 will launch your test suite. When cucumber sees a @culerity tagged scenario, it will shell out to jruby. hooks.rb is responsible for adjusting the various RubyGems environment variables so that jruby is found.

%p
  Initially, I used the JRuby from MacPorts, but since I was using an RVM managed Ruby, JRuby picked up on the RubyGems environment variables. This had the unpleasant side effect of causing JRuby to install gems into the gemdir managed by ruby-1.8.7-p174!

%p
  "Did I mention this was a nasty hack?" - mchung

%h3
  culerity-hooks.rb
%p
  Thanks to agibralter for this *awesome* usage of rvm info as it was intended to be used!
%pre.code
  :preserve
    # culerity-hooks.rb
    Before("@culerity,@celerity,@javascript") do |scenario|
      unless @env_rvm_jruby
        @env_rvm_jruby = {}
        require 'yaml'
        rvm_info = YAML::load(`rvm info jruby`)
        rvm_info['environment'].each do |k, v|
          @env_rvm_jruby[k] = v
        end
        @env_jruby_path = rvm_info['binaries']['ruby'].gsub(%r{^(.*)/ruby$}, '\1')
      end
      @env_defaults = {}
      @env_rvm_jruby.each do |k, v|
        @env_defaults[k] = ENV[k]
        ENV[k] = v
      end
      @env_path = ENV['PATH']
      # NOTE: This has changed as @env_jruby_path was not being used
      # ENV['PATH'] = ENV['PATH'] + ":"
      ENV['PATH'] = @env_jruby_path + ":" + ENV['PATH']
    end

    After("@culerity,@celerity,@javascript") do |scenario|
      @env_defaults.each do |k, v|
        ENV[k] = v
      end
      ENV["PATH"] = @env_path
    end


%p
  Careful of the shebang line, should be bash:
%pre.code
  :preserve
    ∴ rvm jruby
    ∴ rvm --shebang inspect jruby

    /Users/mchung/.rvm/jruby-1.4.0/bin/jruby:

    #!/usr/bin/env bash

%h1
  Community Resources
%ul
  %li
    These
    %a{:href => "http://gist.github.com/353514"} awesome hooks
    from above exhibit proper scripting usage of RVM info as intended, awesomely done agibralter.
    %a{:href => "http://gist.github.com/404870"}
      correction by ashleymoran

  %li
    Original
    %a{:href => "http://gist.github.com/268216"} gist by mchung
