.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/culerity/" }
    Culerity
  %hr

%h2
  Culerty

%p
  In order to get Capybara (w/ @culerity support) running with rvm rubies see the following gist by mchung: http://gist.github.com/268216

%h1
  Community Resources
%ul
  %li

