.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/integration/memprof/" }
    MemProf Integration 
  %hr
  
%h1
  MemProf Integration
  
%p
  Note that MemProf only works against MRI/REE 1.8.X Rubies (for now).
  
%h3
  I my name is Joe D. or Aman G. and I'm insane enough to actually play around in the Ruby VM itself...
%p
  If you'd like to play around in Ruby's guts using C or Assembler... First remove an existing MRI install:
%pre.code
  :preserve
    rvm remove 1.8.7
%p
  Next install the ruby with debug symbols support.
%pre.code
  :preserve
    rvm install 1.8.7 -C -ggdb3,-O0

%p
  By installing your rubies this way you can extract the maximum amount of *useful* information.
%p
  Good luck you sadistically awesome person you...