.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/integration/" }
    Integration
  &nbsp;>&nbsp;
  %a{ :href => "/integration/memprof/" }
    MemProf 
  %hr
  
%h1
  MemProf
%p
  MemProf should *just work* with MRI/REE 1.8.X Rubies (only those for now).
%br  
%br  
%br  
%br  
%h1
  Sadism at it's finest...
%p
  If you're name is Joe D. or Aman G. and are insane enough to actually play around in the Ruby VM itself...
%p
  If you'd like to play around in Ruby's guts using C or Assembler... First remove an existing MRI install:
%pre.code
  :preserve
    rvm remove 1.8.7
%p
  Next install the ruby with debug symbols support.
%pre.code
  :preserve
    rvm install 1.8.7 -C -ggdb3,-O0

%p
  By installing your rubies this way you can extract the maximum amount of *useful* information.
%p
  Good luck you sadistically awesome person you...