= breadcrumbs "Integration", "Passenger"

%a{ :name => "passenger" }
%h1
  Using RVM rubies with Passenger
%p
  RVM will allow you to use any of it's MRI/YARV rubies with passenger very easily.

%h1
  Passenger
%p
  Passenger is essentially 'mod_ruby' for both Nginx and Apache.
  You may select *exactly one* Ruby to run all of your Passenger Ruby applications with.
  If you need to run more than one Ruby interpreter then you should choose the most common one as Passenger Ruby.
  You then use proxy pass to external application servers such as Passenger Standalone, Unicorn, Thin, Mongrel, Mongrel2, etc... in order to accomplish running different applications under different rubies.
%p
  Please note also that the Passenger team plans to natively support multiple rubies in passenger-apache and passenger-nginx for a future release.

%h1
  Passenger *3*

%h2
  Installing Nginx/Apache with Passenger
%p
  First of all there's passenger-install-apache2-module and passenger-install-nginx-module. At the end of the installation it outputs a PassengerRuby configuration snippet for the web server. Its value is set to the RVM Ruby wrapper script that corresponds with the RVM Ruby and RVM gemset that was used to run the installer. This should be all you need for configuration of Passenger 3!
%p
  Please note that for Passenger 3 you now use the ruby wrapper script directly with no need to use the passenger_ruby wrapper.

%h2
  Starting Passenger Standalone
%p
  Then there's Passenger Standalone, i.e. 'passenger start'. Passenger Standalone uses Nginx internally, and it writes a passenger_ruby directive to the Nginx configuration file. This directive points to the RVM Ruby wrapper script that corresponds with the RVM Ruby and RVM gemset that was used to run the 'passenger start' command.

%h1
  Passenger *2* with RVM

%h3
  Select a Passenger Ruby and Generate Wrapper Scripts
%p
  Run RVM using your desired Ruby interpreter, and pass the '--passenger' option.  This will generate wrapper scripts in RVM's bin directory (see Notes below).
  These wrapper scripts ensure environment variables such as GEM_HOME and GEM_PATH are set correctly for
  applications run by passenger. E.g:

%pre.code
  :preserve
    rvm ree --passenger

%p
  Alternatively, you can use the rvm wrapper command directly:

%pre.code
  :preserve
    rvm wrapper ree@ninjas passenger

%h3
  Install Passenger
%pre.code
  :preserve
    rvm ree
    gem install passenger
    rvmsudo passenger-install-nginx-module
%p
  Or if you are forced to use the tomahawk,
%pre.code
  :preserve
    rvmsudo passenger-install-apache2-module

%h3
  Configure the Web Server
%p
  For Nginx users, replace the passenger_ruby line with:

%pre.code
  :preserve
    passenger_ruby /home/wayne/.rvm/bin/passenger_ruby;
%p
  For apache users, use:

%pre.code
  :preserve
    PassengerRuby /home/wayne/.rvm/bin/passenger_ruby

%p
  Please note that if you installed rvm as root / are using a system wide ruby, instead of using
  \/home/wayne/.rvm/bin/passenger_ruby as in the above examples, you'll instead need to use
  \/usr/local/bin/passenger_ruby.

%h2 Notes
%ul
  %li
    Do no not forget to configure the production environment and/or to set the rails_env/RailsEnv variable to development into nginx.conf/httpd.conf for the virtual server config block.
    The RAILS_ENV defaults to 'production'.
  %li
    Be sure to change '/home/wayne' in the above examples to your own $HOME directory,
  %li
    The '.rvm/bin/passenger_ruby' is actually what is known as a 'wrapper script' which sets up the environment for the passenger so that it can find it's gems, etc... and then exec's the actual ruby binary."
  %li
    passenger_root/PassengerRoot Should be something similar to the following, which
    is for Passenger 2.2.11 installed under ree-1.8.7-2010.01.
    %pre.code
      :preserve
         passenger_root /home/millisami/.rvm/gems/ree-1.8.7-2010.01/gems/passenger-2.2.11
%h2
  Troubleshooting
%ul
  %li
    The most common issue is forgetting the /bin/ part of the path to get the proper wrapper script:
  %li
    The next most common issue is listening to the output of the passenger installation script with
    respect to where passenger_ruby/PassengerRuby are located. Be sure to use the wrapper script location
    as specified above. To be more clear, see the example below for Nginx config:
    %pre.code
      :preserve
        passenger_ruby /home/wayne/.rvm/bin/passenger_ruby;
        * NOTICE THE '.rvm/bin' DIR  ^ ^ ^
        * do NOT use the actual ruby binary in .rvm/rubies/{passenger_ruby}/bin/ruby
        * do not listen to passenger's output for passenger_ruby as passenger is not aware of rvm.

    For system wide (root) installs the bin directory is /usr/local/bin instead:
    %pre.code
      :preserve
        passenger_ruby /usr/local/bin/passenger_ruby;

%h2
  FAQ
%ul
  %li
    %p
      %strong Q: Can I run multiple projects under passenger with each project on a different ruby version?
    %p
      A: Not at this time. Passenger currently only supports running it's projects under *one* ruby.
      You can get this behavior using a proxy pass.
  %li
    %p
      %strong Q: How do I use custom gemsets under passenger?
    %p
      A: Without bundler you can either set environment variables yourself in your config.ru like:
    %pre.code
      :preserve
        ENV["GEM_HOME"]=%x{"source ~/.bash_profile ; rvm ree@pancake ; rvm gemdir"}.strip
    %p
      Or, if you are already using rvmrc's, you can use the rvm ruby api and config/setup_load_paths.rb
      in recent passenger versions by following the guide
      %a{:href => "http://blog.ninjahideout.com/posts/the-path-to-better-rvm-and-passenger-integration"} located here.
    %p
      A: With bundler: Install bundler outside any gemset, switch back to the gemset you wish to use and run
      %tt bundle install
      and restart the application (by touching tmp/restart.txt). This works becase bundler stores absolute paths inside
      %tt .bundle/environment.rb
      which will be loaded by bundler directly.
      If this doesn't work as expected, try running bundle install like so:
    %pre.code
      :preserve
        bundle install $BUNDLE_PATH

