---
title: "Using RVM to Manage Rubies for SketchUp"
---

= breadcrumbs "Integration", "SketchUp"

%a{:name => "sketchup"}
%h1 Using RVM to Manage Rubies for SketchUp

%p
  %a{:href => "http://sketchup.google.com/"} Google SketchUp
  is a free 3d modelling tool made available by Google. As part of SketchUp,
  there is ability to script the environment using Ruby.

%p
  Unfortunately, the bundled environment currently ships with a restricted
  subset of the full standard lib and more importantly, it is tied to 1.8.5.

%p
  Hence, by following the instructions linked in "Community Resources" it is possible
  to compile a new version of 1.8.5 to use with SketchUp (with thanks to Rich Morin for
  doing the work to document process).

%h1 Community Resources
