= breadcrumbs "Integration", "Tk"

%h2
  Tk

%p
  To get RVM working with Tk you will need ActiveState's Tcl/Tk distribution.  You will then need to reinstall your RVM Ruby to take advantage of Tk.

For instance, to do this with Ruby 1.9.2 you would do something like this:

%pre.code
  :preserve
    rvm install 1.9.2 --enable-pthread

Now, if you fire up IRB you'll be able to:

%pre.code
  :preserve
    require "tk"
