= breadcrumbs "Integration", "Vagrant"

%a{ :name => "vagrant" }
%h1
  Using RVM rubies inside
  %a{:href => "http://vagrantup.com/"}Vagrant
  virtual machines
%p
  Follow these steps:
  %ol
    %li
      Do a
      %a{:href => "/rvm/install/"}
        root installation
      inside the VM.
    %li
      Add this line to your /etc/profile inside the VM:
      %pre.code
        :preserve
          source /usr/local/lib/rvm
