---
title: "Using vim with rvm"
---

= breadcrumbs "Integration", "Vim"

%a{:name => "vim"}
%h1 Integrating rvm with vim

%p
  If you wish to add rvm information to your vim status line, check out
  %a{:href => "https://github.com/tpope/vim-rvm"} rvm.vim.


%h2 MacVim with rvm rubies.

%p
  If you wish to use MacVim with a rvm ruby, you'll have to build
  MacVim from source after applying the patch located
  %a{:href => "http://gist.github.com/398996"} here.

%p
  Thanks to Michael Shapiro for providing this patch.

%h3 MacVim, ZSH and rvm rubies.

%p
  If you are using ZSH you may find that MacVim is not loading your rvm configuration
  correctly. This may be because you are sourcing the rvm scripts in your .zshrc
  file.

  MacVim does not source the .zshrc file, but will source the .zshenv file. To ensure
  that MacVim correctly loads rvm for its shell, and running ruby commands, source
  the rvm scripts from withing .zshenv.

  Alternatively, you can add:

%pre
  %code
    set shell=/bin/sh

%p
  to your .vimrc, and ensure vim always runs from a shell, and ensure you source
  rvm from within your .profile file.

%p
  Thanks to
  %a{:href => 'http://github.com/hpoydar'} Henry Poydar
  for finding this
  %a{:href=> 'http://gabebw.wordpress.com/2010/08/02/rails-vim-rvm-and-a-curious-infuriating-bug/'} blog post
