---
title: "Running Test::Unit tests against multiple RVM Rubies"
---

%a{ :name => "specs" }
.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/set/" }
    Set
  &nbsp;>&nbsp;
  %a{ :href => "/set/tests/" }
    Tests
  %hr

%h1
  Testing with RVM
%p
  RVM allows you to run tests across multiple ruby versions:
%pre
  %pre.code
    :preserve
      ~/projects/ruby/coulda [git:master] $ rvm 1.8.6,1.9.2 do rake test
%p
  Visit
  %a{:href => "/set/do/"} sets do
  for more information on invoking
  %code rvm do
  \.
