.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/credits/" }
    Credits
  &nbsp;>&nbsp;
  %a{ :href => "/donations/" }
    Donations
  %hr
%h1
  THANK YOU!!!
%p
  The following people have so kindly donated to the RVM cause.
  I very much appreciate their kind generosity.
%ul
  %li
    %a{:href => "http://nuxos.fr/", :name => "richard_piacentini"}
      Richard Piacentini @ Nuxos Group
  %li
    %a{:href => "http://www.blueboxgrp.com/", :name => "blue_box_group"}
      Blue Box Group
  %li
    %a{:href => "http://www.webvanta.com/", :name => "webvanta"}
      Webvanta Inc.
  %li
    %a{:href => "http://blazingcloud.net/", :name => "blazing_cloud"}
      Blazing Cloud, Inc
  %li
    %a{:name => "noctivity"}
      Noctivity Inc.
  %li
    %a{:name => "marc_andre_cournoyer"}
      Marc-Andre Cournoyer
  %li
    %a{:name => "luis_lavena"}
      Luis Lavena
  %li
    %a{:name => "scott_vesely"}
      Scott Vesely
  %li
    %a{:name => "david_wormuth"}
      David Wormuth
  %li
    %a{:name => "carson_mcdonald"}
      Carson McDonald
  %li
    %a{:name => "david_chelimsky"}
      David Chelimsky
  %li
    %a{:name => "nicolai_constantin_reuschling"}
      Nicolai Constantin Reuschling
  %li
    %a{:name => "peter_skeide"}
      Peter Skeide
  %li
    %a{:name => "robert_hunter"}
      Robert Hunter
  %li
    %a{:name => "rolf_bjaanes"}
      Rolf Bjaanes
  %li
    %a{:name => "francois"}
      Francois ?
  %li
    %a{:name => "erik_hansson"}
      Erik Hansson
  %li
    %a{:name => "konstantin_haase"}
      Konstantin Haase
  %li
    %a{:name => "thibaut_barrere"}
      Thibaut Barrere
  %li
    %a{:name => "justin_smestad"}
      Justin Smestad
  %li
    %a{:name => "jamie_flournoy"}
      Jamie Flournoy
  %li
    %a{:name => "thomas_porter"}
      Thomas Porter
  %li
    %a{:name => "brian_hogan"}
      Brian Hogan
  %li
    %a{:name => "laust_rud_jensen"}
      Laust Rud Jensen
  %li
    %a{:name => "luis_lavena"}
      Luis Lavena
  %li
    %a{:name => "ryan_bates"}
      Ryan Bates
  %li
    %a{:name => "seth_morabito"}
      Seth Morabito
  %li
    %a{:name => "rbazinet"}
      rbazinet
  %li
    %a{:name => "gerhard_lazu"}
      Gerhard Lazu
  %li
    %a{:name => "vladimir_sizikov"}
      Vladimir Sizikov
  %li
    %a{:name => "joshua_black"}
      Joshua Black
  %li
    %a{:name => "dayne_broderson"}
      Dayne Broderson
  %li
    %a{:name => "aleksander_modzelewski"}
      Aleksander Modzelewski
  %li
    %a{:name => "garrett_conaty"}
      Garrett Conaty
  %li
    %a{:name => "scott_a_clausen"}
      Scott A Clausen
  %li
    %a{:name => "thomas_kern"}
      Thomas Kern
  %li
    %a{:name => "jack_dempsey"}
      Jack Dempsey
  %li
    %a{:name => "gordon_thiesfeld"}
      Gordon Thiesfeld
  %li
    %a{:name => "robert_rees"}
      Robert Rees
  %li
    %a{:name => "kristen_hazard"}
      Kristen Hazard
  %li
    %a{:name => "robert_sterner"}
      Robert Sterner
  %li
    %a{:name => "richard_morin"}
      Richard Morin
  %li
    %a{:name => "sean_grove"}
      Sean Grove
  %li
    %a{:name => "stephen_downie"}
      Stephen Downie
  %li
    %a{:name => "Joshua Nichols"}
      Joshua Nichols
  %li
    %a{:name => "ryan_richards"}
      Ryan Richards
  %li
    %a{:name => "jamie_iniesta"}
      Jaime Iniesta
  %li
    %a{:name => "william_roe"}
      William Roe
  %li
    %a{:name => "mark_orr"}
      Mark Orr
  %li
    %a{:name => "drew_blas"}
      Drew Blas
  %li
    %a{:name => "morgan_currie"}
      Morgan Currie
  %li
    %a{:name => "matt_lins"}
      Matt Lins
  %li
    %a{:name => "andrew_stone"}
      Andrew Stone
  %li
    %a{:name => "matthew_smith"}
      Matthew Smith
  %li
    %a{:name => "victor_costan"}
      Victor Costan
  %li
    %a{:name => "peter_marreck"}
      Peter Marreck
  %li
    %a{:name => "douglas_seifert"}
      Douglas Seifert
  %li
    %a{:name => "pete_nicholls"}
      Pete Nicholls
  %li
    %a{:name => "christopher_roach"}
      Christopher Roach
  %li
    %a{:name => "ryan_sandridge"}
      Ryan Sandridge
  %li
    %a{:name => "dirk_bergmann"}
      Dirk Bergmann
  %li
    %a{:name => "martin_stannard"}
      Martin Stannard
  %li
    %a{:name => "tyler_arrigoni"}
      Tyler_Arrigoni
  %li
    %a{:name => "morgan_schweers"}
      Morgan Schweers
  %li
    %a{:name => "michael_bleigh"}
      Michael Bleigh
  %li
    %a{:name => "stanislas_mazurek"}
      Stanislas Mazurek
  %li
    %a{:name => "bill_barnett"}
      Bill Barnett
  %li
    %a{:name => "Istvan Hoka"}
      Istvan Hoka
  %li
    %a{:name => "Jenny Hudler"}
      Jenny Hudler
  %li
    %a{:name => "tate_johnson"}
      Tate Johnson
  %li
    %a{:name => "navin_keswani"}
      Navin Keswani
  %li
    %a{:name => "ricard_forniol_agusti"}
      Ricard Forniol Agusti
  %li
    %a{:name => "tammam_kbeili"}
      Tammam Kbeili
  %li
    %a{:name => "jon_kinney"}
      Jon Kinney
  %li
    %a{:name => "sean_watson"}
      Sean Watson
  %li
    %a{:name => "dirk_johnson"}
      Dirk Johnson
  %li
    %a{:name => "jonathan_palardy"}
      Jonathan Palardy
  %li
    %a{:name => "matt_remsik"}
      Matt Remsik
  %li
    %a{:name => "robert_pitts"}
      Robert Pitts
  %li
    %a{:name => "attila_gyorffy"}
      Attila Györffy
  %li
    %a{:name => "michael_jackson"}
      Michael Jackson
  %li
    %a{:name => "wilker_silva"}
      Wilker Silva
  %li
    %a{:name => "john_lannon"}
      John Lannon
  %li
    %a{:name => "ken_mayer"}
      Ken Mayer
  %li
    %a{:name => "brian_mitchell"}
      Brian Mitchell
  %li
    %a{:name => "florian_breisch"}
      Florian Breisch
  %li
    %a{:name => "dale_ackerman"}
      Dale Ackerman
  %li
    %a{:name => "karol_bucek"}
      Karol Bucek
  %li
    %a{:name => "adam_shackleford"}
      Adam Shackleford
  %li
    %a{:name => "christopher_mear"}
      Christopher Mear
  %li
    %a{:name => "sherman_tsang"}
      Sherman Tsang
  %li
    %a{:name => "jay_mcgavren"}
      Jay McGavren
  %li
    %a{:name => "carlos_antonio_de_oliveira"}
      Carlos Antonio de Oliveira
  %li
    %a{:name => "alexander_hansen"}
      Alexander Hansen
  %li
    %a{:name => "aihui_ong"}
      Aihui Ong
  %li
    %a{:name => "anne_ogborn"}
      Anne Ogborn
  %li
    %a{:name => "bryan_liles"}
      Bryan Liles
  %li
    %a{:name => "michael_stok"}
      Michael Stok
  %li
    %a{:name => "chris_sherbak"}
      Chris Sherbak
  %li
    %a{:name => "julian_raschke"}
      Julian Raschke
  %li
    %a{:name => "nicholas_stowe"}
      Nicholas Stowe
  %li
    %a{:name => "rudi_engelbrecht"}
      Rudi Engelbrecht
  %li
    %a{:name => "steven_koppelman"}
      Steven Koppelman
  %li
    %a{:name => "jonathan_austin"}
      Jonathan Austin
  %li
    %a{:name => "carlos_okieffe"}
      Carlos OKieffe
  %li
    %a{:name => "leandro_santos"}
      Leandro Santos
  %li
    %a{:name => "chen_zhijie"}
      Chen Zhijie
  %li
    %a{:name => "andrea_longobardi"}
      Andrea Longobardi
  %li
    %a{:name => "mark_watson_consulting_services"}
      Mark Watson Consulting Services
  %li
    %a{:name => "cindy_studebaker"}
      Cindy Studebaker
  %li
    %a{:name => "milan_iliev"}
      Milan Iliev
  %li
    %a{:name => "nils_haldenwang"}
      Nils Haldenwang
