.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/credits/" }
    Credits
  &nbsp;>&nbsp;
  %a{ :href => "/donations/" }
    Funding
  %hr
%h1
  Who Funds RVM?
%p
  The vast majority of RVM development, including speaking about it at events,
  has happened on my own personal time and budget.
%p
  That said, there is a
  %a{:href => "http://rvm.beginrescueend.com/credits/donations/"}
    growing list of awesome people
  who have donated to the project!
%p
  We also have two 'official sponsors',
  %ul
    %li
      %a{:href => "http://engineyard.com/"}
        %img{:src => "/images/logo-engineyard.png", :alt => "EngineYard, Inc.", :height => "80px"}
        EngineYard, Inc
      Donated a top of the line MacPro workstation for testing RVM using VMs.
    %li
      %a{:href => "http://www.blueboxgrp.com/"}
        %img{:src => "/images/bbg_logo.png", :alt => "Blue Box Group, LLC", :height => "55px"}
        Blue Box Group, LLC
      donates both a VPS and quarterly donations in order to run RVM's website.
    %li

      %a{:href => "http://nuxos.fr/"}
        %img{:src => "/images/nuxos_logo.png", :alt => "Nuxos Group", :height => "80px"}
        Nuxos Group
      has donated as an official sponsor of RVM!
