@import base.sass
@import default.sass
@import text.sass

*
  margin: 0
  padding: 0
  font-family: Georgia, Palatino, Times, "Times New Roman", sans-serif

body
  background: #FFFFFF url(/images/bottom-gradient.gif) repeat-x fixed center bottom
  margin: 1em

  .container
    margin: 4em auto
    width: auto
    clear: both
  a
    text-decoration: none
    font-weight: bold
    /* 871E05
    color: maroon
    &:hover
      text-decoration: underline
      color: blue
    img
      border: none

  #header
    background: url("/images/ruby.png") no-repeat 10px 10px
    height: 120px
    padding-bottom: 0.5em
    clear: both
    div
      font-size: medium
      &.title
        margin-left: 130px
        line-height: 1em
        color: #871E05
        font-weight: bold
        font-size: 600%

      &.tagline
        margin-left: 150px
        font-size: 120%
        line-height: 1em


  table.header
    width: 95%
    border: none
    border-collapse: collapse
    border-top: 1px solid maroon
    border-bottom: 1px dotted maroon
    font-size: small
    thead
      tr
        border-bottom: 1px solid maroon
        th
          width: 20%
          color: maroon
    tbody
      tr
        td
          width: 20%
          vertical-align: top
          text-align: justify
          p
            padding: 0.5em
            a
              img
                float: right
                padding: 0
                padding-bottom: 1em
                padding-left: 1em
  #content
    clear: both
    padding: 1em
    p
      padding: 5px
    pre.code
      border: 1px solid maroon
      padding: 0.75em
      overflow: auto

  #footer
    clear: both


