= breadcrumbs "Deployment", "Best Practices"

%a{:name => "best-practices"}
%h1 Deployment Best Practices

%p
  When deploying with rvm, there are a few things to keep in mind. Please note that
  all of these are our suggested practices and are typically best setup on a new machine:

%h2 The Best Practice List

%ul
  %li
    %a{:href => "/rvm/install/"}
      Install RVM as root
  %li
    Use one system user per project, preferably with the same shortname as the
    project.
  %li
    Use  gemset per-project
  %li
    Use a
    %a{:href => "http://rvm.beginrescueend.com/workflow/rvmrc/#project"}
      project .rvmrc
    for each project, for both development and deployment.
  %li
    When using
    %a{:href => "/integration/passenger/"} Phusion Passenger,
    ensure all projects use the same ruby.
  %li
    Use wrapper scripts for managing things like god, unicorns and the like.
    %pre.code
      :preserve
        user$ rvm help wrapper

  %li
    Use
    %a{:href => "http://bdsm.beginrescueend.com/"}
      BDSM
    'deploy' and 'rails' extensions for nicely integrated RVM deployment.
    %pre.code
      :preserve
        root# bdsm extend rails deploy unicorn # Install rails,depoy,unicorn extensions.
        appuser$ bdsm bdsmrc      # Put a default ~/.bdsmrc in place.
        appuser$ vim ~/bdsmrc     # Update settings, specifically repository_url, etc...
        appuser$ bdsm rails setup # This sets up ~/shared path etc
        appuser$ bdsm deploy      # Updates ~/current with a fresh release.
        appuser$ vim ~/shared/config/database.yml # setup your db connection info.
        appuser$ cd ~/current
        appuser$ gem install bundler && bundle install # Be sure that 'gem "unicorn"' is in Gemfile first, no version.
        appuser$ bdsm unicorn start

    %p
      I run Nginx, so what I do is the following,
    %pre.code
      :preserve
        root# bdsm extend nginx  # This installs the Nginx BDSM extension.
        root# bdsm nginx package install
        root# chmod go+rx /home/appuser # This makes sure that Nginx can read the dir.
        root# bdsm nginx server appuser # This creates /etc/nginx/servers/appuser.conf configured for a unicorn UDS proxy by default.
        root# bdsm nginx service start
    %p
      Note that this will setup for Unicorn

    %p
      Do not forget backups, too many people do...
      %pre.code
        :preserve
          user$ bdsm rails backup_database
      Stick it in cron, make sure it happens nightly...
      %pre.code
        :preserve
          user$ crontab -e

          0 2 * * * bdsm rails backup_database
    %p
      Note that this will soon change to 'bdsm rails backup database'
      (note the space)

  %li
    If you "must" (::cough:: bullshit ::cough::) using Capistrano or the like,
    follow the
    %a{:href => "/integration/capistrano/"}
      capistrano integration guide
    closely

