= breadcrumbs "Deployment", "Best Practices"

%a{:name => "best-practices"}
%h1 Deployment Best Practices

%p
  When deploying with rvm, there are a few things to keep in mind. Please note that
  all of these are our suggested practices and are typically best setup on a new machine:

%h2 The Best Practice List

%ul
  %li
    %a{:href => "/rvm/install/"}
      Install RVM as root
  %li
    Use one system user per project, preferably with the same shortname as the
    project.
  %li
    Use  gemset per-project
  %li
    Use a
    %a{:href => "http://rvm.beginrescueend.com/workflow/rvmrc/#project"}
      project .rvmrc
    for each project, for both development and deployment.
  %li
    When using
    %a{:href => "/integration/passenger/"} Phusion Passenger,
    ensure all projects use the same ruby.
  %li
    Use wrapper scripts for managing things like god, unicorns and the like.
    %pre.code
      :preserve
        user$ rvm help wrapper

  %li
    Use
    %a{:href => "http://bdsm.beginrescueend.com/"}
      BDSM
    'deploy' and 'rails' extensions for nicely integrated RVM deployment.
    %pre.code
      :preserve
        appuser$ bdsm bdsmrc        # Put a default ~/.bdsmrc in place.
        appuser$ vim ~/.bdsmrc      # Update settings, especially repository_url
        appuser$ echo 'rvm_path="$HOME/.rvm"' >> ~/.rvmrc # Set rvm_path
        appuser$ bdsm rails setup   # This sets up ~/shared path, rvm/ruby etc...
        appuser$ bdsm unicorn setup # Unicorn configuration file in place
        appuser$ vim ~/shared/config/database.yml # setup your db connection info.
        appuser$ bdsm deploy        # Updates ~/current with a fresh release.
    %p
      If you use Bundler, do the following next
    %pre.code
      :preserve
        appuser$ cd ~/current
        appuser$ gem install bundler && bundle install # Be sure that 'gem "unicorn"' is in Gemfile first, no version.
    %p
      Finally once your Ruby app env is bootstrapped, start unicorn up.
    %pre.code
      :preserve
        appuser$ bdsm unicorn start
    %p
      If there are any issues they can be seen by looking in the unicorn error log,
    %pre.code
      :preserve
        tail -n 100 ~/shared/log/unicorn.stderr.log

    %p
      I run Nginx, so what I do is the following, first we install nginx and
      configure system (eg. /etc/nginx/)
    %pre.code
      :preserve
        root# bdsm nginx package install
        root# bdsm nginx configure system
    %p
      Next for each application user I have, we generate an applicaiton server
      configuration file (in /etc/nginx/servers/)
    %pre.code
      :preserve
        root# bdsm nginx server add {{appuser}}
    %p
      Note that this creates /etc/nginx/servers/appuser.conf configured to proxy
      to a unicorn running on a Unix Domain Socket (UDS) by default.
    %p
      Now we ensure their directory is readable by Nginx
    %pre.code
      :preserve
        root# chmod go+rx /home/{{appuser}}
    %p
      This ensures that Nginx can read the dir.
    %p
      Now we can startup the Nginx service,
    %pre.code
      :preserve
        root# bdsm nginx service start
    %p
      Do not forget backups, too many people do...
      %pre.code
        :preserve
          user$ bdsm rails backup_database
      Stick it in cron, make sure it happens nightly...
      %pre.code
        :preserve
          user$ crontab -e

          0 2 * * * bdsm rails backup_database
    %p
      Note that this will soon change to 'bdsm rails backup database'
      (note the space)

  %li
    If you "must" (::cough:: bullshit ::cough::) using Capistrano or the like,
    follow the
    %a{:href => "/integration/capistrano/"}
      capistrano integration guide
    closely

