.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/deployment/" }
    Deployment
  &nbsp;>&nbsp;
  %a{ :href => "/deployment/system-wide/" }
    System Wide RVM Installs
  %hr

%a{ :name => "system-wide" }
%h1 Installing RVM System Wide

%p
  System Wide installs let you have a single rvm install for multiple users.
  For current reference, please refer to
  %a{:href => "http://blog.ninjahideout.com/posts/rvm-system-wide-installs-and-capistrano-integration"} this blog post
  which details the install process / reasoning.
