#docindex
  %a{:name => "docindex"}
  .headline
    RVM Documentation Index
  .column
    %a{:href => "/rvm/"} RVM
    %ul
      %li
        %a{:href => "/rvm/basics/"} Basics
      %li
        %a{:href => "/rvm/best-practices/"} Best Practices
      %li
        %a{:href => "/rvm/prerequisites/"} Prerequisites
      %li
        %a{:href => "/rvm/install/"} Installation
      %li
        %a{:href => "/rvm/upgrading/"} Upgrading
      %li
        %a{:href => "/rvm/cli/"} CLI
      %li
        %a{:href => "/rvm/info/"} Info
      %li
        %a{:href => "/rvm/about/"} About
      %li
        %a{:href => "/rvm/myths/"} Myths

    %a{:href => "/interpreters/"} Interpreters
    %ul
      %li
        %a{:href => "/interpreters/ruby/"} MRI/YARV (ruby)
      %li
        %a{:href => "/interpreters/rbx/"} Rubinius (rbx)
      %li
        %a{:href => "/interpreters/jruby/"} JRuby (jruby)
      %li
        %a{:href => "/interpreters/ree/"} Ruby Enterprise Edition (ree)
      %li
        %a{:href => "/interpreters/maglev/"} MagLev (maglev)
      %li
        %a{:href => "/interpreters/ironruby/"} IronRuby (ironruby)
      %li
        %a{:href => "/interpreters/macruby/"} MacRuby (macruby)
      %li
        %a{:href => "/interpreters/goruby/"} GoRuby (goruby)
    %a{:href => "/rubies/"} Rubies
    %ul
      %li
        %a{:href => "/rubies/installing/"} Installing Rubies
      %li
        %a{:href => "/rubies/patching/"} Patching Rubies
      %li
        %a{:href => "/rubies/upgrading/"} Upgrading Rubies
      %li
        %a{:href => "/rubies/default/"} Setting Default interpreter
      %li
        %a{:href => "/rubies/rubygems/"} RubyGems
      %li
        %a{:href => "/rubies/info/"} Info
      %li
        %a{:href => "/rubies/removing/"} Removing
      %li
        %a{:href => "/rubies/list/"} List
      %li
        %a{:href => "/rubies/strings/"} Strings
      %li
        %a{:href => "/rubies/docs/"} Docs
      %li
        %a{:href => "/rubies/alias/"} Alias
      %li
        %a{:href => "/rubies/named/"} Named Rubies

  .column
    %a{:href => "/gemsets/"} gemsets
    %ul
      %li
        %a{:href => "/gemsets/basics/"} Basics
      %li
        %a{:href => "/gemsets/initial/"} Initial
      %li
        %a{:href => "/gemsets/creating/"} Creating
      %li
        %a{:href => "/gemsets/using/"} Using
      %li
        %a{:href => "/gemsets/listing/"} Listing
      %li
        %a{:href => "/gemsets/deleting/"} Deleting
      %li
        %a{:href => "/gemsets/emptying/"} Emptying
      %li
        %a{:href => "/gemsets/exporting/"} Exporting (dumping)
      %li
        %a{:href => "/gemsets/importing/"} Importing (loading)
      %li
        %a{:href => "/gemsets/copying/"} Copying
      %li
        %a{:href => "/gemsets/global/"} Global
      %li
        %a{:href => "/gemsets/initial/"} Automatic Gemset Initialization

    %a{:href => "/set/"} Set Actions
    %ul
      %li
        %a{:href => "/set/ruby/"} ruby
      %li
        %a{:href => "/set/rake/"} rake
      %li
        %a{:href => "/set/gem/"} gem
      %li
        %a{:href => "/set/monitor/"} monitor
      %li
        %a{:href => "/set/tests/"} tests
      %li
        %a{:href => "/set/specs/"} specs
      %li
        %a{:href => "/set/benchmark/"} benchmark
      %li
        %a{:href => "/set/do/"} do

    %a{:href => "/workflow/"} Workflow
    %ul
      %li
        %a{:href => "/workflow/scripting/"} Scripting with RVM
      %li
        %a{:href => "/workflow/rvmrc/"} rvmrc
      %li
        %a{:href => "/workflow/projects/"} Project Workflow
      %li
        %a{:href => "/workflow/prompt/"} Prompt
      %li
        %a{:href => "/workflow/irbrc/"} IRBRC
      %li
        %a{:href => "/workflow/hooks/"} Hooks
      %li
        %a{:href => "/workflow/completion/"} Completion
      %li
        %a{:href => "/workflow/subshells/"} Subshells
      %li
        %a{:href => "/workflow/examples/"} Examples
      %li
        %a{:href => "/workflow/proxy/"} Proxy
      %li
        %a{:href => "/workflow/screen/"} GNU Screen

  .column
    %a{:href => "/integration/"} Integration
    %ul
      %li
        %a{:href => "/integration/databases/"} Databases
      %li
        %a{:href => "/integration/zsh/"} Zsh
      %li
        %a{:href => "/integration/fish/"} Fish
      %li
        %a{:href => "/integration/bundler/"} Bundler
      %li
        %a{:href => "/integration/memprof/"} MemProf
      %li
        %a{:href => "/integration/passenger/"} Passenger
      %li
        %a{:href => "/integration/textmate/"} Textmate
      %li
        %a{:href => "/integration/emacs/"} Emacs
      %li
        %a{:href => "/integration/netbeans/"} Netbeans
      %li
        %a{:href => "/integration/culerity/"} Culerity
      %li
        %a{:href => "/integration/capistrano/"} Capistrano
      %li
        %a{:href => "/integration/sketchup/"} SketchUp
      %li
        %a{:href => "/integration/cron/"} Cron
      %li
        %a{:href => "/integration/god/"} God
      %li
        %a{:href => "/integration/hudson/"} Hudson
      %li
        %a{:href => "/integration/macports/"} MacPorts
      %li
        %a{:href => "/integration/qtruby/"} QT Ruby
      %li
        %a{:href => "/integration/tk/"} Tk
      %li
        %a{:href => "/integration/vagrant/"} Vagrant
      %li
        %a{:href => "/integration/vim/"} Vim
      %li
        %a{:href => "/integration/gnome-terminal/"} Gnome-terminal

    %a{:href => "/os/"} Operating Systems
    %ul
      %li
        %a{:href => "/os/archlinux/"} Arch Linux
      %li
        %a{:href => "/os/centos/"} CentOS / RedHat
      %li
        %a{:href => "/os/darwin/"} Darwin
      %li
        %a{:href => "/os/debian/"} Debian
      %li
        %a{:href => "/os/ubuntu/"} Ubuntu
      %li
        %a{:href => "/os/gentoo/"} Gentoo
      %li
        %a{:href => "/os/opensuse/"} OpenSuse
      %li
        %a{:href => "/os/other/"} Other
    %a{:href => "/deployment/"} Deployment
    %ul
      %li
        %a{:href => "/deployment/best-practices/"} Best Practices

  .column
    %a{:href => "/packages/"} Packages
    %ul
      %li
        %a{:href => "/packages/readline/"} Readline
      %li
        %a{:href => "/packages/iconv/"} IConv
      %li
        %a{:href => "/packages/zlib/"} Zlib
      %li
        %a{:href => "/packages/openssl/"} OpenSSL
      %li
        %a{:href => "/packages/autoconf/"} Autoconf

    %a{:href => "/presentations/"} Presentations
    %ul
      %li
        %a{:href => "/presentations/mwrc-2010/"} MWRC 2010

    %a{:href => "/support/"} Help &amp; Support
    %ul
      %li
        %a{:href => "/support/faq/"} FAQ &amp; Notes
      %li
        %a{:href => "/support/troubleshooting/"} Troubleshooting
      %li
        %a{:href => "/support/irc/"} IRC

    %a{:href => "/qa/"} Quality Assurance
    %ul
      %li
        %a{:href => "/qa/software_testing/"} Software Testing

    %a{:href => "/development/"} Development
    %ul
      %li
        %a{:href => "/development/list"} Mailing List
      %li
        %a{:href => "/development/github/"} Git (GitHub)
      %li
        %a{:href => "/development/tracker/"} Pivotal Tracker Project
      %li
        %a{:href => "/development/contributing/"} Contributing
      %li
        %a{:href => "/development/debugging/"} Debugging

    %a{:href => "/credits/"} Credits
    %ul
      %li
        %a{:href => "/credits/thanks/"} Contributions
      %li
        %a{:href => "/credits/donations/"} Donations
      %li
        %a{:href => "/credits/funding/"} Funding

  .clear
