#docindex
  %a{:name => "docindex"}
  %h2
    = link_to 'RVM Documentation Index', '/'
    |
    = link_to 'RVM Blog', '/blog/'
  %section
    %a{:href => "/rvm/"} RVM
    %ul
      %li
        %a{:href => "/rvm/autolibs/" } Autolibs
      %li
        %a{:href => "/rvm/basics/"} Basics
      %li
        %a{:href => "/rvm/best-practices/"} Best Practices
      %li
        %a{:href => "/rvm/prerequisites/"} Prerequisites
      %li
        %a{:href => "/rvm/install/"} Installation
      %li
        %a{:href => "/rvm/configuration/"} Configuration
      %li
        %a{:href => "/rvm/upgrading/"} Upgrading
      %li
        %a{:href => "/rvm/cli/"} CLI
      %li
        %a{:href => "/rvm/info/"} Info
      %li
        %a{:href => "/rvm/about/"} About
      %li
        %a{:href => "/rvm/myths/"} Myths
      %li
        %a{:href => "/rvm/offline/"} Offline  
  %section
    %a{:href => "/interpreters/"} Interpreters
    %ul
      %li
        %a{:href => "/interpreters/ruby/"} MRI/YARV (ruby)
      %li
        %a{:href => "/interpreters/jruby/"} JRuby (jruby)
      %li
        %a{:href => "/interpreters/rbx/"} Rubinius (rbx)
      %li
        %a{:href => "/interpreters/maglev/"} MagLev (maglev)
      %li
        %a{:href => "/interpreters/macruby/"} MacRuby (macruby)
  %section
    %a{:href => "/rubies/"} Rubies
    %ul
      %li
        %a{:href => "/rubies/installing/"} Installing Rubies
      %li
        %a{:href => "/rubies/patching/"} Patching Rubies
      %li
        %a{:href => "/rubies/upgrading/"} Upgrading Rubies
      %li
        %a{:href => "/rubies/default/"} Setting Default
      %li
        %a{:href => "/rubies/rubygems/"} RubyGems
      %li
        %a{:href => "/rubies/info/"} Info
      %li
        %a{:href => "/rubies/removing/"} Removing
      %li
        %a{:href => "/rubies/list/"} List
      %li
        %a{:href => "/rubies/strings/"} Strings
      %li
        %a{:href => "/rubies/docs/"} Docs
      %li
        %a{:href => "/rubies/alias/"} Alias
      %li
        %a{:href => "/rubies/named/"} Named Rubies
  %section
    %a{:href => "/gemsets/"} gemsets
    %ul
      %li
        %a{:href => "/gemsets/basics/"} Basics
      %li
        %a{:href => "/gemsets/initial/"} Initial
      %li
        %a{:href => "/gemsets/creating/"} Creating
      %li
        %a{:href => "/gemsets/using/"} Using
      %li
        %a{:href => "/gemsets/listing/"} Listing
      %li
        %a{:href => "/gemsets/deleting/"} Deleting
      %li
        %a{:href => "/gemsets/emptying/"} Emptying
      %li
        %a{:href => "/gemsets/exporting/"} Exporting (dumping)
      %li
        %a{:href => "/gemsets/importing/"} Importing (loading)
      %li
        %a{:href => "/gemsets/copying/"} Copying
      %li
        %a{:href => "/gemsets/global/"} Global
      %li
        %a{:href => "/gemsets/ignoring/"} Ignoring
  %section
    %a{:href => "/set/"} Set Actions
    %ul
      %li
        %a{:href => "/set/do/"} do
      %li
        %a{:href => "/set/tests/"} tests
      %li
        %a{:href => "/set/benchmark/"} benchmark
  %section
    %a{:href => "/workflow/"} Workflow
    %ul
      %li
        %a{:href => "/workflow/scripting/"} Scripting with RVM
      %li
        %a{:href => "/workflow/rvmrc/"} rvmrc
      %li
        %a{:href => "/workflow/projects/"} Project Workflow
      %li
        %a{:href => "/workflow/prompt/"} Prompt
      %li
        %a{:href => "/workflow/irbrc/"} IRBRC
      %li
        %a{:href => "/workflow/hooks/"} Hooks
      %li
        %a{:href => "/workflow/completion/"} Completion
      %li
        %a{:href => "/workflow/subshells/"} Subshells
      %li
        %a{:href => "/workflow/examples/"} Examples
      %li
        %a{:href => "/workflow/proxy/"} Proxy
      %li
        %a{:href => "/workflow/screen/"} GNU Screen
      %li
        %a{:href => "/workflow/chruby/"} chruby
  %section
    %a{:href => "/integration/"} Integration
    %ul
      %li
        %a{:href => "/integration/databases/"} Databases
      %li
        %a{:href => "/integration/zsh/"} Zsh
      %li
        %a{:href => "/integration/fish/"} Fish
      %li
        %a{:href => "/integration/bundler/"} Bundler
      %li
        %a{:href => "/integration/memprof/"} MemProf
      %li
        %a{:href => "/integration/pow/"} Pow
      %li
        %a{:href => "/integration/textmate/"} Textmate
      %li
        %a{:href => "/integration/emacs/"} Emacs
      %li
        %a{:href => "/integration/netbeans/"} Netbeans
      %li
        %a{:href => "/integration/culerity/"} Culerity
      %li
        %a{:href => "/integration/sketchup/"} SketchUp
      %li
        %a{:href => "/integration/jenkins/"} Jenkins
      %li
        %a{:href => "/integration/macports/"} MacPorts
      %li
        %a{:href => "/integration/qtruby/"} QT Ruby
      %li
        %a{:href => "/integration/sudo/"} Sudo
      %li
        %a{:href => "/integration/tk/"} Tk
      %li
        %a{:href => "/integration/vagrant/"} Vagrant
      %li
        %a{:href => "/integration/vim/"} Vim
      %li
        %a{:href => "/integration/gnome-terminal/"} Gnome-terminal
      %li
        %a{:href => "/integration/lxterminal/"} LXTerminal
      %li
        %a{:href => "/integration/xterm/"} XTerm
      %li
        %a{:href => "/integration/konsole/"} Konsole
  %section
    %a{:href => "/os/"} Operating Systems
    %ul
  %section
    %a{:href => "/packages/"} Packages
    %ul
  %section
    %a{:href => "/deployment/"} Deployment
    %ul
      %li
        %a{:href => "/deployment/capistrano/"} Capistrano
      %li
        %a{:href => "/integration/passenger/"} Passenger
      %li
        %a{:href => "/integration/chef/"} Chef
      %li
        %a{:href => "/integration/cron/"} Cron
      %li
        %a{:href => "/deployment/god/"} God
      %li
        %a{:href => "/integration/init-d/"} init.d / upstart
      %li
        %a{:href => "/deployment/best-practices/"} Best Practices
  %section
    %a{:href => "/presentations/"} Presentations
    %ul
      %li
        %a{:href => "http://www.confreaks.com/videos/3-mwrc2010-managing-ruby-projects-with-rvm"} MWRC 2010
      %li
        %a{:href => "http://blip.tv/akitaonrails/railsconf-2010-wayne-e-seguin-3785213"} Interview at RailsConf 2010
      %li
        %a{:href => "http://thechangelog.com/66/"} Changelog 66 with Wayne
      %li
        %a{:href => "http://www.youtube.com/watch?v=wN-iIC3S1ZM"} RVM 2: Lessons and future
      %li
        %a{:href => "http://www.youtube.com/watch?v=gYNht8H24ZQ"} RVM 2: Python Version Manager
      %li
        %a{:href => "http://thechangelog.com/102/"} Changelog 102 with Michal
  %section
    %a{:href => "/support/"} Help &amp; Support
    %ul
      %li
        %a{:href => "/support/faq/"} FAQ &amp; Notes
      %li
        %a{:href => "/support/troubleshooting/"} Troubleshooting
      %li
        %a{:href => "/support/fixing-broken-ssl-certificates/"} Fixing Broken SSL Certificates
      %li
        %a{:href => "/support/irc/"} IRC
  %section
    %a{:href => "/qa/"} Quality Assurance
    %ul
      %li
        %a{:href => "/qa/software_testing/"} Software Testing
  %section
    %a{:href => "/development/"} Development
    %ul
      %li
        %a{:href => "/development/list"} Mailing List
      %li
        %a{:href => "/development/github/"} Git (GitHub)
      %li
        %a{:href => "/development/tracker/"} Pivotal Tracker Project
      %li
        %a{:href => "/development/contributing/"} Contributing
      %li
        %a{:href => "/development/debugging/"} Debugging
  %section
    %a{:href => "/credits/"} Credits
    %ul
      %li
        %a{:href => "/credits/thanks/"} Contributions
      %li
        %a{:href => "/credits/donations/"} Donations
      %li
        %a{:href => "/credits/funding/"} Funding
