#logo
  %a{ :href => "/" }
    %img{ :src => "/images/logo.png", :alt => "RVM Logo"}

#irc
  .title Online Help
  .text
    You can find the RVM team on IRC in
    %br
    %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
      \#rvm on irc.freenode.net
    .more If we do not respond right away, leave a message and a contact to you like email or twitter.

#donate
  .title Donation
  .text
    Love RVM? Help us maintain RVM, a donation can help with it.
    %br
    %a{ :href => "https://www.bountysource.com/cart?amount=5&currency=USD&team_id=rvm", :target => "_blank" }
      %img{ :src => "//img.shields.io/badge/donate-$5-brightgreen.svg", :border => "0", :alt => "Click here to donate $5" }
    %a{ :href => "https://www.bountysource.com/cart?amount=20&currency=USD&team_id=rvm", :target => "_blank" }
      %img{ :src => "//img.shields.io/badge/donate-$20-brightgreen.svg", :border => "0", :alt => "Click here to donate $20" }
    %a{ :href => "https://www.bountysource.com/cart?amount=100&currency=USD&team_id=rvm", :target => "_blank" }
      %img{ :src => "//img.shields.io/badge/donate-$100-brightgreen.svg", :border => "0", :alt => "Click here to donate $100" }
    .more
      Want to help in other way, want to be a sponsor?
      %br
      contact:
      %a{ :href => "mailto:mpapis@gmail.com" }
        Michal Papis

#sponsors
  .title Sponsors
  .logo.long
    %a{ :href => "https://www.linode.com" }
      %img{ :src => "/images/linode_logo_gray.png", :alt => "Linode", :height => "50px"}
  .logo.long
    %a{ :href => "https://www.fastly.com/" }
      %img{ :src => "/images/fastly_logo-01.png", :alt => "Fastly", :height => "50px"}

#carbon_ads_box
  .title Carbon Ads
  %script{ type: "text/javascript", src: "https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=rvmio", id: "_carbonads_js", async: "async" }

.clear
