#logo
  %a{ :href => "/" }
    %img{ :src => "/images/logo.png", :alt => "RVM Logo"}

#support
  .title Support
  .text
    RVM is maintained by community of volunteers, report issues to
    %a{ :href => "https://github.com/rvm/rvm/issues" }
      RVM issues tracker.
    .more
      If you can help or wish to become one of the maintainers - just start helping.
      You can find more RVM related projects at
      %a{ :href => "https://github.com/rvm" }
        RVM GitHub organization.

#donate
  .title Donation
  .text
    Love RVM? Help us maintain RVM, a donation can help with it.
    Want to help in other way, want to be a sponsor?
    .more
      contact:
      %a{ :href => "mailto:mpapis@gmail.com" }
        Michal Papis

#sponsors
  .title Sponsors
  .logo.long
    %a{ :href => "https://www.fastly.com/" }
      %img{ :src => "/images/fastly_logo-01.png", :alt => "Fastly", :height => "50"}

#carbon_ads_box
  .title Carbon Ads
  %script{ type: "text/javascript", src: "https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=rvmio", id: "_carbonads_js", async: "async" }

.clear
