#logo
  %a{ :href => "/" }
    %img{ :src => "/images/logo.png", :alt => "RVM Logo"}

#irc
  .title Online Help
  .text
    You can find the RVM team:
    %br
    %b mpapis, rys, ddd
    on IRC in
    %br
    %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
      \#rvm on irc.freenode.net
    .more If we do not respond right away, leave a message and a contact to you like email or twitter.

#donate
  .title Donation
  .text Love RVM? Help us maintain RVM, a donation can help with it.
  %a{ :href => "https://www.bountysource.com/cart?amount=5&currency=USD&team_id=rvm", :target => "_blank" }
    %img{ :src => "http://img.shields.io/badge/donate-$5-brightgreen.svg", :border => "0", :alt => "Click here to donate $20" }
  %a{ :href => "https://www.bountysource.com/cart?amount=20&currency=USD&team_id=rvm", :target => "_blank" }
    %img{ :src => "http://img.shields.io/badge/donate-$20-brightgreen.svg", :border => "0", :alt => "Click here to donate $20" }
  %a{ :href => "https://www.bountysource.com/cart?amount=100&currency=USD&team_id=rvm", :target => "_blank" }
    %img{ :src => "http://img.shields.io/badge/donate-$100-brightgreen.svg", :border => "0", :alt => "Click here to donate $20" }

-#  .text Love RVM? A donation would help justify to my family why I spend so much time working on Open Source projects like RVM.
-#  .pledgie
-#    %a{ :href => "http://pledgie.com/campaigns/9822" }
-#      %img{ :src => "https://pledgie.com/campaigns/9822.png?skin_name=chrome", :border => "0", :alt => "Click here to lend your support to: RVM and make a donation at www.pledgie.com !"

#recommend
  .title Sponsors
  .logo.long
    %a{ :href => "https://www.paymill.com" }
      %img{ :src => "/images/paymill-logo.png", :alt => "Paymill"}
    %a{ :href => "https://www.linode.com" }
      %img{ :src => "/images/linode_logo_gray.png", :alt => "Linode"}

#sponsors
  .title Small Sponsors
  .logo
    %a{ :href => "http://teamtreehouse.com/", :class => "square" }
      %img{ :src => "/images/treehouse.png", :alt => "Treehouse"}
    %a{ :href => "https://www.digitalocean.com/", :class => "square" }
      %img{ :src => "/images/DigitalOcean.png", :alt => "DigitalOcean"}
    %a{ :href => "http://www.anynines.com/", :class => "square" }
      %img{ :src => "/images/anynines.png", :alt => "Anynines PaaS - European Platform as a Service"}
    %a{ :href => "http://www.centresource.com/", :class => "square" }
      %img{ :src => "/images/centresource.png", :alt => "CentreSource"}
    %a{ :href => "http://onepagerapp.com/", :class => "square" }
      %img{ :src => "/images/Onepager.png", :alt => "Onepager"}
    %a{ :href => "http://www.callrail.com/", :class => "square" }
      %img{ :src => "/images/CallRail.png", :alt => "CallRail" }
    %a{ :href => "https://www.audeo.io/", :class => "middle" }
      %img{ :src => "/images/audeo.png", :alt => "Audeo"}
    %a{ :href => "http://www.apartmentlist.com/", :class => "long" }
      %img{ :src => "/images/ApartmentList.png", :alt => "Apartment List"}

.clear
