#logo
  %a{ :href => "/" }
    %img{ :src => "/images/logo.png", :alt => "RVM Logo"}
#donate
  .title Donation
  .text Love RVM? A donation would help justify to my family why I spend so much time working on Open Source projects like RVM.
  .pledgie
    %a{ :href => "http://www.pledgie.com/campaigns/9822" }
      %img{ :src => "https://www.pledgie.com/campaigns/9822.png?skin_name=chrome", :border => "0", :alt => "Click here to lend your support to: RVM and make a donation at www.pledgie.com !" }

#recommend
  .title Recommend
  .text
    .more If you like our work with RVM, please recommend us *with a comment as to why you recommend us* 
    on Working With Rails
    %a{ :href => "http://www.workingwithrails.com/recommendation/for/person/7192-wayne-e-seguin" }
      Wayne,
    %a{ :href => "http://www.workingwithrails.com/person/18659-michal-papis" }
      Michal
    –
    Thank You!

#irc
  .title IRC
  .text
    You can find the RVM team (mpapis, wayneeseguin) on IRC,
    usually in
    %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
      \#rvm on irc.freenode.net
    .more If we do not respond right away, leave a message and we'll respond or leave you a memo when we are around.


#sponsors
  .title Sponsors
  .logo.bbg
    .title
      Blue Box Group
    %a{ :href => "http://www.bluebox.net/" }
      %img{ :src => "/images/bbg_logo.png", :alt => "Blue Box Group"}
  .logo.eyrd 
    .title
      Engineyard
    %a{ :href => "http://engineyard.com/" }
      %img{ :src => "/images/logo-engineyard.png", :alt => "Engineyard"}
.clear
