#logo
  %a{ :href => "/" }
    %img{ :src => "/images/logo.png", :alt => "RVM Logo"}
#donate
  .title Donation
  %a{ :href => "https://www.bountysource.com/#fundraisers/489-rvm-2-0", :target => "_blank" }
    .text Love RVM? Want to see RVM 2.0 in Ruby, a donation can help with it.
    .pledgie
      %img{ :src => "https://cloudinary-a.akamaihd.net/bountysource/image/upload/zzumd5zt0ihuxm8vthoz.png", :border => "0", :alt => "Click here to lend your support to: RVM 2.0 and make a donation at www.bountysource.com !" }
    .text Help us to convert 20,000 lines of shell script into Ruby.

-#  .text Love RVM? A donation would help justify to my family why I spend so much time working on Open Source projects like RVM.
-#  .pledgie
-#    %a{ :href => "http://pledgie.com/campaigns/9822" }
-#      %img{ :src => "https://pledgie.com/campaigns/9822.png?skin_name=chrome", :border => "0", :alt => "Click here to lend your support to: RVM and make a donation at www.pledgie.com !" }

#recommend
  .title Recommend
  .text
    .more If you like our work with RVM, please send us a Tweet about how much you
    like it or recommend us on Coderwall.

    -
    With love: wayneeseguin, mpapis, envygeeks, richo, rmichael, rys, dkahoe, cwgem, ddd, lemoinem

#irc
  .title IRC
  .text
    You can find the RVM team (wayneeseguin, mpapis, envygeeks, richo, rmichael, rys, dkahoe, cwgem, ddd, lemoinem) on IRC,
    usually in
    %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
      \#rvm on irc.freenode.net
    .more If we do not respond right away, leave a message and we'll respond or leave you a memo when we are around.


#sponsors
  .title Sponsors
  .logo.bbg
    .title
      Blue Box Group
    %a{ :href => "http://www.bluebox.net/" }
      %img{ :src => "/images/bbg_logo.png", :alt => "Blue Box Group"}
  .logo.eyrd
    .title
      Engineyard
    %a{ :href => "http://engineyard.com/" }
      %img{ :src => "/images/logo-engineyard.png", :alt => "Engineyard"}
.clear
