%head
  %title
    RVM: Ruby Version Manager -
    = @item[:title]
  %link{ :href => "/css/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %link{ :href => "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css", :rel => "stylesheet", :type => "text/css" }
  %link{ :href => "/css/algolia-docsearch.css", :rel => "stylesheet", :type => "text/css" }
  %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %meta{ :name => "google-site-verification", :content => "w2V78a6cwiHD5Gm8yvlTP21xZ1YgVguDdC0JGDEA2d0" }
  = add_feed_link
