%head
  %title
    RVM: Ruby Version Manager -
    = @item[:title]
  %link{ :href => "/css/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %link{ :href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %meta{ :name => "google-site-verification", :content => "w2V78a6cwiHD5Gm8yvlTP21xZ1YgVguDdC0JGDEA2d0" }
  %meta{ :name => "viewport", :content => "width=device-width" }
