!!!
%html

  =render "shared/html-head"

  %body

    #heaven

    #container

      =render "shared/header"

      #content
        %a{ :name => "top" }
        %h1
          = item[:title]
        %hr.medium
        %aside
          = get_post_meta(item)
        %article
          =yield
        %a{ :name => "bottom" }

      =render "shared/blog_menu"

    =render "shared/footer"
