!!!
%html

  =render "shared/html-head"

  %body

    #container

      =render "shared/header"

      %section#content
        %a{ :name => "top" }
        =yield
        %a{ :name => "bottom" }

      =render "shared/doc_menu"

    =render "shared/footer"
