!!!
%html

  =render "shared/html-head"

  %body

    #heaven

    #container

      =render "shared/header"

      #content
        #top
          %a
            =yield
        #bottom
          %a

      =render "shared/doc_menu"

    =render "shared/footer"
