!!!
%html
  %head
    %title
      RVM: Ruby Version Manager -
      = @item[:title]
    %link{ :href => "/css/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }

  %body
    %a{ :href => "http://github.com/wayneeseguin/rvm" }
      %img{ :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :alt => "Fork me on GitHub", :style => "position: absolute; top: 0; right: 0; border: 0;" }

    #heaven_grid
      %a{ :name => "header" }
      #heaven
        .supportbox_left
          .logo
            %a{ :href => "/" }
              %img{ :src => "/images/logo.png", :width => "190px", :height => "182px",  :alt => "RVM Logo"}
        .supportbox_left
          %h6
            Donation
          %h5
            Love RVM?
            A donation would help justify to my family why I spend so much time working on Open Source projects like RVM.
          .text-center
            %a{ :href => "http://www.pledgie.com/campaigns/9822" }
              %img{ :src => "https://www.pledgie.com/campaigns/9822.png?skin_name=chrome", :border => "0", :alt => "Click here to lend your support to: RVM and make a donation at www.pledgie.com !" }

        .supportbox_left
          %h6
            Recommend
          %h5
            If you like my work with RVM, please recommend me *with a comment as to why you recommend me* on
            %a{ :href => "http://www.workingwithrails.com/recommendation/for/person/7192-wayne-e-seguin" }
              Working With Rails
            –
            Thank You!

        .supportbox_left
          %h6
            IRC
          %h5
            I am 'wayneeseguin' in
            %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
              \#rvm on irc.freenode.net
            If I do not respond right away, leave a message and I'll respond or leave you a memo when I am around.

        .supportbox_right
          %h6
            Sponsors
          %br/
          %a{:href => "http://www.bluebox.net"}
            %img{:src => "/images/bbg_logo.png", :alt => "Blue Box Group, LLC", :height => "55px"}
          %a{:href => "http://www.nuxos.fr/"}
            %img{:src => "/images/nuxos_logo.png", :alt => "Nuxos Group", :height => "80px"}

        .clear
      %br
      .clear

      #content
        %center
          #cse Just a moment.
          %a{ :href => "#docindex"}
            $ rvm help # Documentation Index

        %a{ :name => "top" }
        =yield
        %a{ :name => "bottom" }

      #docindex
        %a{:name => "docindex"}
        .headline
          RVM Documentation Index
        .column
          %a{:href => "/rvm/"} RVM
          %ul
            %li
              %a{:href => "/rvm/basics/"} Basics
            %li
              %a{:href => "/rvm/best-practices/"} Best Practices
            %li
              %a{:href => "/rvm/prerequisites/"} Prerequisites
            %li
              %a{:href => "/rvm/install/"} Installation
            %li
              %a{:href => "/rvm/upgrading/"} Upgrading
            %li
              %a{:href => "/rvm/cli/"} CLI
            %li
              %a{:href => "/rvm/info/"} Info
            %li
              %a{:href => "/rvm/about/"} About
            %li
              %a{:href => "/rvm/myths/"} Myths

          %a{:href => "/interpreters/"} Interpreters
          %ul
            %li
              %a{:href => "/interpreters/ruby/"} MRI/YARV (ruby)
            %li
              %a{:href => "/interpreters/rbx/"} Rubinius (rbx)
            %li
              %a{:href => "/interpreters/jruby/"} JRuby (jruby)
            %li
              %a{:href => "/interpreters/ree/"} Ruby Enterprise Edition (ree)
            %li
              %a{:href => "/interpreters/maglev/"} MagLev (maglev)
            %li
              %a{:href => "/interpreters/ironruby/"} IronRuby (ironruby)
            %li
              %a{:href => "/interpreters/macruby/"} MacRuby (macruby)
            %li
              %a{:href => "/interpreters/goruby/"} GoRuby (goruby)
          %a{:href => "/rubies/"} Rubies
          %ul
            %li
              %a{:href => "/rubies/installing/"} Installing Rubies
            %li
              %a{:href => "/rubies/default/"} Setting Default interpreter
            %li
              %a{:href => "/rubies/rubygems/"} RubyGems
            %li
              %a{:href => "/rubies/info/"} Info
            %li
              %a{:href => "/rubies/removing/"} Removing
            %li
              %a{:href => "/rubies/list/"} List
            %li
              %a{:href => "/rubies/strings/"} Strings
            %li
              %a{:href => "/rubies/docs/"} Docs
            %li
              %a{:href => "/rubies/alias/"} Alias

        .column
          %a{:href => "/gemsets/"} gemsets
          %ul
            %li
              %a{:href => "/gemsets/basics/"} Basics
            %li
              %a{:href => "/gemsets/initial/"} Initial
            %li
              %a{:href => "/gemsets/creating/"} Creating
            %li
              %a{:href => "/gemsets/using/"} Using
            %li
              %a{:href => "/gemsets/listing/"} Listing
            %li
              %a{:href => "/gemsets/deleting/"} Deleting
            %li
              %a{:href => "/gemsets/emptying/"} Emptying
            %li
              %a{:href => "/gemsets/exporting/"} Exporting (dumping)
            %li
              %a{:href => "/gemsets/importing/"} Importing (loading)
            %li
              %a{:href => "/gemsets/copying/"} Copying
            %li
              %a{:href => "/gemsets/global/"} Global
            %li
              %a{:href => "/gemsets/initial/"} Automatic Gemset Initialization

          %a{:href => "/set/"} Set Actions
          %ul
            %li
              %a{:href => "/set/ruby/"} ruby
            %li
              %a{:href => "/set/rake/"} rake
            %li
              %a{:href => "/set/gem/"} gem
            %li
              %a{:href => "/set/monitor/"} monitor
            %li
              %a{:href => "/set/tests/"} tests
            %li
              %a{:href => "/set/specs/"} specs
            %li
              %a{:href => "/set/benchmark/"} benchmark
            %li
              %a{:href => "/set/exec/"} exec

          %a{:href => "/workflow/"} Workflow
          %ul
            %li
              %a{:href => "/workflow/scripting/"} Scripting with RVM
            %li
              %a{:href => "/workflow/rvmrc/"} rvmrc
            %li
              %a{:href => "/workflow/projects/"} Project Workflow
            %li
              %a{:href => "/workflow/prompt/"} Prompt
            %li
              %a{:href => "/workflow/irbrc/"} IRBRC
            %li
              %a{:href => "/workflow/hooks/"} Hooks
            %li
              %a{:href => "/workflow/completion/"} Completion
            %li
              %a{:href => "/workflow/subshells/"} Subshells
            %li
              %a{:href => "/workflow/examples/"} Examples
            %li
              %a{:href => "/workflow/proxy/"} Proxy
            %li
              %a{:href => "/workflow/screen/"} GNU Screen

        .column
          %a{:href => "/integration/"} Integration
          %ul
            %li
              %a{:href => "/integration/databases/"} Databases
            %li
              %a{:href => "/integration/zsh/"} Zsh
            %li
              %a{:href => "/integration/fish/"} Fish
            %li
              %a{:href => "/integration/bundler/"} Bundler
            %li
              %a{:href => "/integration/memprof/"} MemProf
            %li
              %a{:href => "/integration/passenger/"} Passenger
            %li
              %a{:href => "/integration/textmate/"} Textmate
            %li
              %a{:href => "/integration/emacs/"} Emacs
            %li
              %a{:href => "/integration/netbeans/"} Netbeans
            %li
              %a{:href => "/integration/culerity/"} Culerity
            %li
              %a{:href => "/integration/capistrano/"} Capistrano
            %li
              %a{:href => "/integration/sketchup/"} SketchUp
            %li
              %a{:href => "/integration/god/"} God
            %li
              %a{:href => "/integration/hudson/"} Hudson
            %li
              %a{:href => "/integration/macports/"} MacPorts
            %li
              %a{:href => "/integration/qtruby/"} QT Ruby
            %li
              %a{:href => "/integration/tk/"} Tk
            %li
              %a{:href => "/integration/vagrant/"} Vagrant
            %li
              %a{:href => "/integration/vim/"} Vim

          %a{:href => "/os/"} Operating Systems
          %ul
            %li
              %a{:href => "/os/archlinux/"} Arch Linux
            %li
              %a{:href => "/os/centos/"} CentOS / RedHat
            %li
              %a{:href => "/os/darwin/"} Darwin
            %li
              %a{:href => "/os/debian/"} Debian
            %li
              %a{:href => "/os/ubuntu/"} Ubuntu
            %li
              %a{:href => "/os/gentoo/"} Gentoo
            %li
              %a{:href => "/os/other/"} Other
          %a{:href => "/deployment/"} Deployment
          %ul
            %li
              %a{:href => "/deployment/best-practices/"} Best Practices

        .column
          %a{:href => "/packages/"} Packages
          %ul
            %li
              %a{:href => "/packages/readline/"} Readline
            %li
              %a{:href => "/packages/iconv/"} IConv
            %li
              %a{:href => "/packages/zlib/"} Zlib
            %li
              %a{:href => "/packages/openssl/"} OpenSSL
            %li
              %a{:href => "/packages/autoconf/"} Autoconf

          %a{:href => "/presentations/"} Presentations
          %ul
            %li
              %a{:href => "/presentations/mwrc-2010/"} MWRC 2010

          %a{:href => "/support/"} Help &amp; Support
          %ul
            %li
              %a{:href => "/support/faq/"} FAQ &amp; Notes
            %li
              %a{:href => "/support/troubleshooting/"} Troubleshooting
            %li
              %a{:href => "/support/irc/"} IRC

          %a{:href => "/development/"} Development
          %ul
            %li
              %a{:href => "/development/list"} Mailing List
            %li
              %a{:href => "/development/github/"} Git (GitHub)
            %li
              %a{:href => "/development/tracker/"} Pivotal Tracker Project
            %li
              %a{:href => "/development/contributing/"} Contributing
            %li
              %a{:href => "/development/debugging/"} Debugging

          %a{:href => "/credits/"} Credits
          %ul
            %li
              %a{:href => "/credits/thanks/"} Contributions
            %li
              %a{:href => "/credits/donations/"} Donations
            %li
              %a{:href => "/credits/funding/"} Funding

      .clear

      #footer
        Copyright &copy; >= 2009 Wayne E. Seguin
        &infin;
        %br
        Hosted by
        %a{:href => "http://www.bluebox.net"}
          %img{:src => "/images/bbg_logo.png", :alt => "Blue Box Group, LLC", :height => "55px"}

    %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('search', '1', {language : 'en', style : google.loader.themes.SHINY});
      google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('012125088244772422662:eplzzxbbjte');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.draw('cse');
      }, true);

    :preserve
      <script src="https://www.google.com/jsapi?key=ABQIAAAAlfGITCLCzrcO4cy2viT78RSZcRLSY2B0NYnmYEy-3gaXzTHyQxRduJj7nQ6rEtYNpUjIQpEEosF5XA" type="text/javascript"></script>
      <script src="/javascripts/site.js" type="text/javascript"></script>

