.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/alias/" }
    Alias
  %hr

%h1
  Alias

%p
  RVM allows you to alias your rubies for your convenience and pleasure.

%h2
  Creating Aliases
%p
  First select a RVM ruby.
%pre.code
  :preserve
    $ rvm alias create php ree-1.8.7-p2010.01

%h2
  Using Aliases
%p
  Now that you have created an alias, you can use the alias in place of the longer rvm selector string.
%pre.code
  :preserve
    $ rvm use php
    $ ruby -v
    ruby 1.8.7 (2009-12-24 patchlevel 248) [i686-darwin10.3.0], MBARI 0x6770, Ruby Enterprise Edition 2010.01
%p
  If you use any aliases that are rather funny, please hop in #rvm and let us know :)

%h2
  Deleting Aliases
%p
  If you wish to delete an alias
%pre.code
  :preserve
    $ rvm alias delete dotnet

%h2
  Listing Aliases
%p
  You can also list all current aliases
%pre.code
  :preserve
    $ rvm alias list
    php => ree-1.8.7-p2010.01
    lisp => maglev-head
    python => rbx-head

