.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/default/" }
    Default
  %hr

%a{ :name => "default" }
%h1
  Setting the default Ruby
%p
  If you would like to make one specific Ruby be the default ruby that is selected when you open a new terminal shell simply use the --default flag:
%pre.code
  :preserve
    $ rvm --default ruby-head

    $ ruby -v

    ruby 1.9.2dev (2010-02-25 trunk 26759) [x86_64-darwin10.2.0]
%p
  The next time you open a window Ruby 1.9.2dev will be the selected ruby.
%p
  To switch back to your system ruby:
%pre.code
  :preserve
    $ rvm system

    $ ruby -v

    ruby 1.8.7 (2008-08-11 patchlevel 72) [universal-darwin10.0]
%p
  To switch at any time to the ruby you have selected as default:
%pre.code
  :preserve
    $ rvm default

    $ ruby -v

    ruby 1.9.2dev (2010-02-25 trunk 26759) [x86_64-darwin10.2.0]

%p
  To show what ruby is currently the selected default, if any, do
  %pre.code
    :preserve
      $ rvm list default

      Default Ruby (for new shells)

         ruby-head [ x86_64 ]
