.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/info/" }
    Environment Information
  %hr

%h1
  RVM Ruby Environment Information
%p
  If you are coding scripts and/or configuring text editors or similar tools then often it is useful to be able to inspect the entire ruby environment for a specified RVM installed ruby.
%p
  In order to inspect the environment of the currently selected Ruby,
%pre.code
  :preserve
    rvm info
%p
  In order to inspect the environment of a specific Ruby, pass a valid selector representing it as the first parameter:
%pre.code
  :preserve
    rvm info 1.9.2

