---
title: "'rvm list' - List default/installed/all RVM rubies"
---


.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/" }
    Rubies
  &nbsp;>&nbsp;
  %a{ :href => "/rubies/list/" }
    List

%h1
  Listing RVM installed rubies.
%p
  There are a few different ways to list RVM installed rubies.
%p
  You can view the commands available by typing
%pre.code
  :preserve
    rvm list
%p
  To list all installed rubies
%pre.code
  :preserve
    rvm list rubies

%p
  To list the default ruby
%pre.code
  :preserve
    rvm list default

%p
  To list the default ruby string only
%pre.code
  :preserve
    rvm list default string

%p
  To list all installed rubies, in their ruby string representation only
%pre.code
  :preserve
    rvm list strings

%p
  To list all *known* RVM installable Rubies
%pre.code
  :preserve
    rvm list known
%p
  NOTE: Even though this is all *known* rubies, RVM can install many more rubies not listed :)

%p
  Looking for knowing where you are at? See
  %a{:href => "/workflow/prompt/"} rvm-prompt

