---
title: RVM Examples
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/" }
    Workflow
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/examples/" }
    Examples
  %hr

%a{ :name => "examples" }
%h1
  Examples of using RVM
%a{ :name => "rvm-version" }
%h3
  RVM version
%pre.code
  :preserve
    $ rvm -v

    rvm 1.25.25 (master) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://rvm.io/] 

%a{ :name => "rvm-info" }
%h3
  Use a particular Ruby.
%pre.code
  %pre
    :preserve
      $ rvm use 2.1.1
%p
  Equivalently (because of RVM's defaults):
%pre.code
  :preserve
    $ rvm 2.1.1

%a{ :name => "rvm-list" }
%h3
  List Ruby interpreters available for installation
%pre.code
  :preserve
    $ rvm list known
      # MRI Rubies
      [ruby-]1.8.6[-p420]
      [ruby-]1.8.7[-p374]
      [ruby-]1.9.1[-p431]
      [ruby-]1.9.2[-p320]
      [ruby-]1.9.3[-p547]
      [ruby-]2.0.0-p451
      [ruby-]2.0.0[-p481]
      [ruby-]2.1.1
      [ruby-]2.1[.2]
      [ruby-]2.1-head
      ruby-head

      # GoRuby
      goruby

      # Topaz
      topaz

      # TheCodeShop - MRI experimental patches
      tcs

      # jamesgolick - All around gangster
      jamesgolick

      # Minimalistic ruby implementation - ISO 30170:2012
      mruby[-head]

      # JRuby
      jruby-1.6.8
      jruby[-1.7.12]
      jruby-head
      ...
      (plus many more; omitted for brevity)

%a{ :name => "rvm-list" }
%h3
  List Ruby interpreters you've already installed
%pre.code
  :preserve
    $ rvm list

      rvm rubies

       * ruby-1.9.3-p484 [ x86_64 ]
         ruby-2.0.0-p481 [ x86_64 ]
      => ruby-2.1.1 [ x86_64 ]

      # => - current
      # =* - current && default
      #  * - default

%a{ :name => "rvm-info" }
%h3
  Ruby information for the current shell
%pre.code
  :preserve
    $ rvm info

      ruby-2.1.1:

        system:
          uname:       "Darwin Ryss-iMac.local 13.2.0 Darwin Kernel Version 13.2.0: Thu Apr 17 23:03:13 PDT 2014; root:xnu-2422.100.13~1/RELEASE_X86_64 x86_64"
          system:      "osx/10.9/x86_64"
          bash:        "/bin/bash => GNU bash, version 3.2.51(1)-release (x86_64-apple-darwin13)"
          zsh:         "/bin/zsh => zsh 5.0.2 (x86_64-apple-darwin13.0)"

        rvm:
          version:      "rvm 1.25.25 (master) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://rvm.io/]"
          updated:      "4 hours 42 minutes 23 seconds ago"
          path:         "/Users/rys/.rvm"
          rvm 0.0.49 (2009.09.24) [http://rvm.beginrescueend.com/]
        ...
        (omitted for brevity)

%h3
  Use Ruby 2.1.1
%pre.code
  :preserve
    $  rvm use 2.1.1
%h3
  Equivalent to "rvm use 2.1.1", due to defaults
%pre.code
  :preserve
    $  rvm 2.1.1

%a{ :name => "rvm-gemdir" }
%h3
  Switch to gems directory for current ruby
%pre.code
  :preserve
    $ rvm gemdir

    /Users/rys/.gem/ruby/2.1.1
%h3
  Switch to the system gems directory
%pre.code
  :preserve
    $ rvm gemdir system

    /Library/Ruby/Gems/2.0.0
%h3
  Switch to the system user gems directory
%pre.code
  :preserve
    $ rvm gemdir system user

    /Users/rys/.gem/ruby/2.0.0
%a{ :name => "rvm-use-default" }
%h3
  Use the user set default  ruby
%pre.code
  :preserve
    $  rvm default
%a{ :name => "rvm-use-system" }
%h3
  Use the system ruby (as if no rvm)
%pre.code
  :preserve
    $  rvm system
%a{ :name => "rvm-reset" }
%h3
  Reset to pre-RVM state.
%pre.code
  :preserve
    $  rvm reset
%h3
  Uninstall RVM installed 2.0.0 version
%pre.code
  :preserve
    $  rvm uninstall 2.0.0
%h3
  Install gems from system gem dir (osx: /Library/Ruby/Gems/2.0.0) using current ruby
%pre.code
  :preserve
    $  rvm system ; rvm gemset export system.gems ; rvm 2.0.0 ; rvm gemset import system
