.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/" }
    Workflow
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/rvmrc/" }
    proxy
  %hr

%h1
  Installing RVM behind a proxy
%h2
  Export your shell environment for http proxy use
%p
  export http_proxy="http://hostname:port" or save it to your shell profile. (i.e. ~/.bash_rc)
%pre.code
  export http_proxy="http://example.proxy_name.com:80"

%h2
  Setting git to use a proxy
%p
  Set your git tool to use the environment proxy inside you ~/.gitconfig
%pre.code
  :preserve
    [http]
      proxy = %http_proxy%

%h1
  Using RVM behind a proxy
%p
  There are a few ways to use RVM from behind a proxy.

%h2
  \--proxy
%p
  You can pass the proxy sever to use directly to RVM:
%pre.code
  :preserve
    rvm install X --proxy $domain_or_ip:$port
%h2
  Using CURL
%p
  Set the proxy inside your ~/.curlrc:
%pre.code
  :preserve
    proxy = example.proxy_name.com:80


%h1
  Community Resources
%ul
  %li
