---
title: rvmrc
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/" }
    Workflow
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/rvmrc/" }
    rvmrc
  %hr

%h1 rvmrc files
%p
  There are 3 types of rvmrc files, system user and project.
  They are discussed in detail below.

%a{:name => "system"}
%h2 System /etc/rvmrc
%p
  The system rvmrc file is loaded before RVM initializes and before the user's ~/.rvmrc.
  \/etc/rvmrc settings are applied to all users on the system.

%a{:name => "user"}
%h2 User $HOME/.rvmrc
%p
  The users rvmrc file overwrites settings in /etc/rvmrc and is loaded before RVM initializes.
  $HOME/.rvmrc settings are applied only for the user belonging to $HOME.

%h2 System / User rvmrc examples
%p
  Have RVM install rubies when used instead of only displaying a warning and exiting.
%pre.code
  :preserve
    rvm_install_on_use_flag=1
%p
  Have RVM compile using say, 3, compile threads.
%pre.code
  :preserve
    rvm_make_flags="-j 3"

%p
  Have RVM install to a different location (notice that it ends with /rvm).
%pre.code
  :preserve
    rvm_path=/opt/rvm

%p
  Have RVM compile rubies and libraries as x86_64 on *Mac OS X*.
%pre.code
  :preserve
    rvm_archflags="-arch x86_64"
%p
  Similarly for i386 on *Mac OS X*.
%pre.code
  :preserve
    rvm_archflags="-arch i386"

%p
  More examples may be found in ~/.rvm/examples/rvmrc.

%a{:name => "project"}
%h2 Project .rvmrc
%p
  The project .rvmrc file is different than the system & user.
  System &amp; user rvmrc files are meant for altering the settings and behavior of RVM.
  The project rvmrc files are intended to be used to setup your project's ruby
  environment when you switch to the project root directory.

%p
  As of RVM 1.8.0, after a survey where greater than 80% of respondants wanted
  the feature on by default,
  %strong
    automatic loading of project .rvmrc files is opt-out by default (therefore on).
  In order to disable this feature, set the following value in either /etc/rvmrc
  or ~/.rvmrc:
%pre.code
  :preserve
    rvm_project_rvmrc=0

%p
  As of 1.11.0 RVM supports multiple files to configure project, more details here:
  %a{ :href => "/workflow/projects/" }
    Project workflow
