.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/" }
    Workflow
  &nbsp;>&nbsp;
  %a{ :href => "/workflow/screen/" }
    GNU Screen
  %hr

%h1
  Using RVM inside GNU Screen
%p
  RVM should work out of the box with screen as long as you have your profiles configured correctly.
  The easiest way to ensure it's working is to make screen use a login shell by placing the following in your ~/.screenrc file:
%pre.code
  :preserve
    shell ${SHELL}
%p
  If you do not want your screen to be spawning login shells then make sure
  that the RVM sourcing line is installed at the end of your ~/.bashrc

%h1
  Community Resources
%ul
  %li

