.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/" }
    RVM
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/about/" }
    About
  %hr

%a{ :name => "about" }
%h1
  About RVM
%p
  Ruby Version Manager (RVM) was originally started in October of 2007, almost three years ago.
  Back then I had the idea and enthusiastically gave it a shot.
  I became discouraged as it is a very difficult problem space.
%p
  Since then, I have had much experience programming in bash, Ruby and other languages.
  I finally found myself at last having the proper need, skill and desire in order to make RVM happen.
%p
  RVM started as a personal project however it *very* quickly ballooned into a very feature rich application thanks to the awesome Ruby community giving constant feedback!
%p
  %a{:href => "http://beginrescueend.com/articles/5"}
    Read more about RVM

