= breadcrumbs "RVM", "Best Practices"

%h1= @item[:title]

%p
  Want to use RVM the way Wayne E. Seguin intended? The following is a
  collection of tips and best practices that have proven to be effective in making
  development easier while using rvm.

%h2 The List

%h3 No. 1 - Use rvmrc files for each of your individual projects.

%p
  A
  %a{:href => "/workflow/rvmrc/"} project-specific rvmrc
  makes it easy to automate your general workflow. Not only does it let you
  automatically switch rubies when you work on your app, but it also makes it easy to
  automatically bootstrap environments.

%h3 No. 2 - Check your rvmrc into source control.

%p
  By checking the project's' rvmrc into source control along side your app,
  you're ensuring all users have a consistent environment when they're using your project and RVM.

%p
  By also automating gemset installs and the like (e.g. check out the rvmrc in the
  %a{:href => "http://github.com/rvm/rvm-site"} rvm-site
  repository or the
  %a{:href => "http://github.com/YouthTree/TEDxPerth"} TEDxPerth
  repostory's rvmrc) you also make bootstrapping a project happen via cd'ing
  into the project directory, provided you have 'export rvm_project_rvmrc=1' in your '$HOME/.rvmrc'.
  
  NOTE: The aforementioned knob makes use of RVM's <i>cd</i> bash function overriding. Please be aware of this. 

%p
  On top of this, you can also automatically make your deployments set up your
  application-specific environment
  %a{:href => "/integration/passenger/"} even if you're using passenger.

%h3 No. 3 - Use per-project gemsets.

%p
  Per-project gemsets are used such that each application has its own distinct gem environment,
  helping you to avoid issues that come about from conflicting versions.
  In most cases, this involves using something like "ree@your-app" instead of
  "ree" when selecting a ruby (e.g. in your rvmrc).

%p
  Even better, tying it into No. 1 and No. 2 means that you and any other users automatically
  have correctly versioned gemsets. If you are using bundler, RVM will even set BUNDLE_PATH
  for you so your gem directory is in the same place as bundler places its gems.

%h3 No. 4 - Deploy with rvm when possible.

%p
  Not only is 
  <i>developing</i>
  with RVM a good idea, when possible, it is also a good idea to 
  <i>deploy</i>
  your application using RVM. This brings about the usual advantages of an
  application-specific environment, but also makes it easier to track down version-specific
  bugs that occur in production later on in development. This is primarily since it ensures a reasonably
  consistent environment between the two.

%p
  Even better, when it comes time to upgrade your ruby, RVM can help you with
  this via the 'rvm upgrade' command.

%h3 No. 5 - Integrate RVM into your tools of choice.

%p
  Lastly, make sure you read our
  %a{:href => "/integration/"} integration pages
  to find out how best to integrate RVM into your development and deployment ecosystem.
