---
title: 'rvm info - information about rvm environments'
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/" }
    rvm
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/info/" }
    Info
  %hr

%h1
  RVM Info

%h3
  Usage

%pre.code
  :preserve
    $ rvm info [ruby_string[,ruby_string[,...] [section,[section[,...]

%p
  where sections are one of:

%pre.code
  :preserve
    system rvm ruby homes binaries environment debug

%p
  Both ruby strings and sections are optional arguments.

%p
  By default, with no parameters, rvm info will output all sections except debug.

%h3
  Debug
%p
  To display system rvm debug information:

%pre.code
  :preserve
    $ rvm debug

%p
  which will display all sections including debug for the current or specified interpreters.

%h3
  Example:

%pre.code
  :preserve
    $ rvm info 2.1.1,1.9.3 homes,binaries

    ruby-2.1.1:

      homes:
        gem:          "/Users/rys/.rvm/gems/ruby-2.1.1"
        ruby:         "/Users/rys/.rvm/rubies/ruby-2.1.1"

      binaries:
        ruby:         "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/ruby"
        irb:          "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/irb"
        gem:          "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/gem"
        rake:         "/Users/rys/.rvm/gems/ruby-2.1.1/bin/rake"

    ruby-2.1.1:

      homes:
        gem:          "/Users/rys/.rvm/gems/ruby-2.1.1"
        ruby:         "/Users/rys/.rvm/rubies/ruby-2.1.1"

      binaries:
        ruby:         "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/ruby"
        irb:          "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/irb"
        gem:          "/Users/rys/.rvm/rubies/ruby-2.1.1/bin/gem"
        rake:         "/Users/rys/.rvm/gems/ruby-2.1.1/bin/rake"
 
