%p
  There are two very different ways to install/use RVM.
%ul
  %li
    %a{:href => "/rvm/install/user/"}
      As a User
  %li
    %a{:href => "/rvm/install/root/"}
      As Root
    ( be *very* sure you know what you are doing... )

