%h1 Installing RVM
%p
  There are two very different ways to use RVM.
%ul
  %li
    As a User
  %li
    As Root
    ( be *very* sure you know what you are doing... )
%p
  Don't forget to set your
  %a{:href => "/rubies/default/"} default ruby
  after you install so that your command line opens with ruby enabled.
%p
  There are at least 3 ways to install RVM.
%h2 1. Github Repository (recommended)
%p
  To install / update from the github repository (recommended):
%pre.code
  :preserve
    bash &lt; &lt;( curl http://rvm.beginrescueend.com/releases/rvm-install-head )
%p
  What this script essentially does is the following, with some extra checks and tweaks:
%pre.code
  :preserve
    mkdir -p ~/.rvm/src/ && cd ~/.rvm/src && rm -rf ./rvm/ && git clone --depth 1 git://github.com/wayneeseguin/rvm.git && cd rvm && ./install
%p
  Note that if you are behind a firewall (slower, but it should work), change the git:// to http:// like this:
%pre.code
  :preserve
    mkdir -p ~/.rvm/src/ && cd ~/.rvm/src && rm -rf ./rvm/ && git clone --depth 1 http://github.com/wayneeseguin/rvm.git && cd rvm && ./install

%h2 2. Installing / updating the latest rvm from the latest source tarball
%pre.code
  :preserve
    bash &lt; &lt;( curl http://rvm.beginrescueend.com/releases/rvm-install-latest )
%p
  What this script essentially does is the following, with some extra checks and tweaks:
%pre.code
  :preserve
    version=$(curl http://rvm.beginrescueend.com/releases/stable-version.txt);
    mkdir -p ~/.rvm/src/ && cd ~/.rvm/src/ && curl -O http://rvm.beginrescueend.com/releases/rvm-${version}.tar.gz | tar zxf - && cd rvm-${version} && ./install

%h2 3. Installing from a gem (not recommended)
%p
  First install the gem. After the gem has installed run the rvm-install script.
%pre.code
  :preserve
    ∴ gem install rvm                 # Install the RVM gem
    # Adjust the path below for whever your system gem bin directory is located
    ∴ ~/.gem/ruby/1.8/bin/rvm-install # Install RVM, adds hooks for bash & zsh

%p
  If rvm-install is not found at the path listed it is likely because your users gem home is not in your path.
  You can find out the path to use by running
  %pre.code
    :preserve
      ∴ gem env gemdir

  This will show something like /Users/wayne/.gem/ruby/1.8

%h1
  Post Install
%p
  The first time you install RVM, you must put the following line into your profile at the very end, after all path loads etc:
%pre.code
  :preserve
    [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
%p
  Doing so ensures rvm as loaded as a function (versus as a binary), ensuring commands such as rvm use work as expected. Please note that
  you can confirm this worked correctly by opening a new shell and running:

%pre.code
  :preserve
    ∴ type rvm | head -n1

%p If this was performed correctly, you should see:

%pre.code
  :preserve
    rvm is a function

%p
  Next, you can manually load the new code into your current shell and start using RVM ! w00t!
%pre.code
  :preserve
    ∴ source ~/.rvm/scripts/rvm

%p
  Be sure to install any dependencies for your operating system by running:
%pre.code
  :preserve
    ∴ rvm notes

%p
  The following script will boostrap git + RVM assuming that you have curl &amp; sudo installed.
  It will also install (last line) several common rubies.

%pre.code
  :preserve
    #!/usr/bin/env bash

    # Install git
    mkdir -p $HOME/.rvm/src && cd $HOME/.rvm/src && version=1.6.5.3
    curl -O http://kernel.org/pub/software/scm/git/git-$version.tar.gz
    cd git-$version && ./configure --prefix=/usr/local && make && sudo make install

    # Install RVM
    bash &lt; &lt;( curl http://rvm.beginrescueend.com/releases/rvm-install-head )

    # Install some rubies
    source "$HOME/.rvm/scripts/rvm"
    rvm install ree,1.9.2-head,jruby

%h1 Notes &amp; Warnings
%ul
  %li Do NOT 'return' from inside the .bashrc file or else RVM will be prevented from working properly.
  %li Be sure that scripts/rvm is sourced at the end of your profiles, after any PATH or other environmental settings.

