.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/" }
    rvm
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/prerequisites/" }
    Prerequisites
  %hr

%h1 RVM Prerequisites

%p
  RVM uses the following standard *nix tools (some are built into bash):
%ul
  %li bash (>= 3.2)
  %li awk
  %li sed
  %li grep
  %li which
  %li ls
  %li cp
  %li tar
  %li curl
  %li gunzip
  %li bunzip2
%p
  RVM also requires the following libraries.
%ul
  %li git (for updating RVM itself, and for installing '-head' versions of rubies)
  %li subversion (for installing '-head' rubies)

%p
  If you want to use RVM in Zsh, you will also need zsh >= 4.3.5 as well.

%p
  NOTE: For a quick and dirty way to find out if you have these programs and where they are, copy and paste the following code into your shell. This works in both Zsh and Bash so you can copy and paste with no worries.

%pre.code
  :preserve
    for name in {bash,awk,sed,grep,ls,cp,tar,curl,gunzip,bunzip2} ; do which $name ;  done
