
.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/" }
    rvm
  &nbsp;>&nbsp;
  %a{ :href => "/rvm/upgrading/" }
    Upgrading
  %hr

%h1
  Upgrading RVM
%p
  RVM supports two ways of upgrading itself, one to the latest released version
  and the other to the latest repository version.
%h3
  Upgrading to the last release version
%pre.code
  :preserve
    $ rvm get latest
%p
  will install the latest released version.
%h3
  Upgrading to the latest repository source version (the most bugfixes)
%pre.code
  :preserve
    $ rvm get head
%p
  this will obtain the latest RVM repository version using git and run ./install
  from the cloned repository.

%p
  After having your RVM updated you might be also interested in
  %a{ :href => "/rubies/upgrading/" } Upgrading rubies
