---
title: "'rvm gemset clear' - Clear any currently selected gemset."
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/clear/" }
    Clearing Gemsets
  %hr

%p
  Assume that you are already using the teddy gemset.
%pre.code
  :preserve
    $ rvm gemset use teddy
    Now using gemset 'teddy'
%p
  And that you now wish to switch back to using the default gems directory for the currently selected ruby.
%p
  You can accomplish this using gemset clear:
%pre.code
  :preserve
    $ rvm gemdir
    /Users/rys/.rvm/gems/2.1.1@teddy
    $ rvm gemset clear
    gemset cleared.
    $ rvm gemdir
    /Users/rys/.rvm/gems/2.1.1

%h1
  Community Resources
%ul
  %li
