.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/copying/" }
    Copying Gemsets
  %hr

%p
  You can also copy a gemset from one ruby to another.
%pre.code
  :preserve
    ∴ rvm gemset copy 1.8.7%rails3 1.9.1%rails3

%p
  This does not require gemsets.
%pre.code 
  :preserve
    ∴ rvm gemset copy 1.8.7 1.9.1
