.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/deleting/" }
    Deleting Gemsets
  %hr

%p
  When you delete a gemset, rvm will prompt you to confirm the deletion.
%pre.code
  :preserve
    $ rvm gemset use albinochipmunk
    $ rvm gemset delete albinochipmunk

%p
  To skip confirmation, pass the --force flag:
%pre.code
  :preserve
    $ rvm gemset use albinochipmunk
    $ rvm --force gemset delete albinochipmunk
%p
  By default, rvm deletes gemsets from the currently selected Ruby interpreter. To delete a gemset from a different interpreter, say 1.9.2, run your command this way:
%pre.code
  :preserve
    $ rvm 1.9.2 do gemset delete albinochipmunk
