.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/deleting/" }
    Deleting Gemsets
  %hr

%p
  You can delete a gemset, this will prompt you if you are sure you wish to delete the gemset.
%pre.code
  :preserve
    ∴ rvm gemset albinochipmunk
    ∴ rvm gemset delete albinochipmunk

%p
  If you wish to not be prompted, pass --force:
%pre.code
  :preserve
    ∴ rvm gemset albinochipmunk
    ∴ rvm --force gemset delete albinochipmunk"
