.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/global/" }
    Global
  %hr

%a{ :name => "global" }
%h2
  Interpreter global gemsets
%p
  RVM provides (>= 0.1.8) a @global gemset 
  %em per ruby interpreter.
%p
  Gems you install to the @global gemset for a given ruby are available to all other gemsets you create in association with that ruby.
%p
  This is a good way to allow all of your projects to share the same installed gem for a specific ruby interpreter installation.
