---
title: "Ignoring gemsets"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/ignoring/" }
    Ignoring Gemsets
  %hr


%h1 Ignoring

%p
  If you do not want to use gemsets and want to ignore them you can use
  command line flag `--ignore-gemsets`:

%pre.code
  :preserve
    rvm use 1.9.3@my_project --ignore-gemsets

%p
  it will ignore @my_project and @global, only default gemset will be set.

%p
  It can be done persistent with:

%pre.code
  :preserve
    echo "export rvm_ignore_gemsets_flag=1" >> ~/.rvmrc
