---
title: "'rvm gemset list' - Listing Gemsets"
---

.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/listing/" }
    Listing
  %hr

%a{ :name => "managing" }
%p
  To see the name of the current gemset
%pre.code
  :preserve
    $ rvm gemset use teddy
    $ rvm gemset name
    teddy

%p
  To list the full directory path for the current gemset:
%pre.code
  :preserve
     $ rvm gemdir
     /Users/rys/.rvm/gems/2.1.1@teddy

%p
  To list all named gemsets for the current ruby interpreter
%pre.code
  :preserve
    $ rvm gemset list

     global
     teddy
%p
  To list all named gemsets for all interpreters

%pre.code
  :preserve
    $ rvm gemset list_all
%p
  Looking for knowing where you are at? See
  %a{:href => "/workflow/prompt/"} rvm-prompt

