.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/listing/" }
    Listing
  %hr

%a{ :name => "managing" }
%p
  To list the name of the currently selected gem set
%pre.code
  :preserve
    ∴ rvm gemset albinochipmunk ; rvm gems name
    albinochipmunk

%p
  To list the full directory path for the currently selected gemset:
%pre.code
  :preserve
    ∴ rvm gemset albinochipmunk; rvm gems dir
    /Users/wayne/.rvm/gems/ruby-1.9.1-p378%albinochipmunk

%p
  To list all named gem sets for current selected ruby interpreter
%pre.code
  :preserve
    ∴ rvm gemset list
