.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/listing/" }
    Listing
  %hr

%a{ :name => "managing" }
%p
  To list the name of the currently selected gemset
%pre.code
  :preserve
    $ rvm gemset albinochipmunk
    $ rvm gemset name
    albinochipmunk

%p
  To list the full directory path for the currently selected gemset:
%pre.code
  :preserve
     $ rvm gemdir
     /Users/wayne/.rvm/gems/1.9.2-head@albinochipmunk

%p
  To list all named gemsets for the currently selected ruby interpreter
%pre.code
  :preserve
    $ rvm gemset list

     global
     albinochipmunk
