.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/" }
    Gemsets
  &nbsp;>&nbsp;
  %a{ :href => "/gemsets/using/" }
    Using Gemsets
  %hr

%p
  Before you can use a gemset you must first create it.
%pre.code
  :preserve
    $ rvm 1.9.2-head
    $ rvm gemset create albinochipmunk

%p
  To use a gemset
%pre.code
  :preserve
    $ rvm gemset use albinochipmunk

%p
  Alternatively we can switch to a gemset when we use a ruby by appending @gemsetname to the end of the ruby selector string:
%pre.code
  :preserve
    $ rvm use 1.9.2-head@albinochipmunk

%p
  Note that you can also specify a default gemset for the interpreter by doing:
%pre.code
  :preserve
    $ rvm use 1.9.2-head@albinochipmunk --default


%p
  To use a named gemset with an RVM 'do' action, append it to the ruby selector string using a '@'
%pre.code
  :preserve
    rvm 1.9.2-head@albinochipmunk,ree@albinochipmunk,jruby@albinochipmunk rake test

%p
  If you are aware of where you are at and wish to fix the gemset you can do:
%pre.code
  :preserve
    rvm gemset use albinochipmunk
    rvm 1.9.2-head,ree,jruby rake --sticky test

%p
  If you would like gemsets to be automatically created when used you can export a flag in your ~/.rvmrc file:
%pre.code
  :preserve
    rvm_gemset_create_on_use_flag=1

%h1
  Community Resources
%ul
  %li
    Matt Denner's Post on
    %a{:href => "http://mattdenner.github.com/2010/03/09/using-rvm-gemsets.html"}
      Using RVM Gemsets
