---
title: Author Shannon Skipper
created_at: 2015-03-31 11:37:38 -0700
---

%h3
  Hi,

%p
  I'm Shannon Skipper. You can find me as
  %a{:href => "https://github.com/havenwood"}
    havenwood

  on the GitHubs or IRC. Happy coding!

%p
  My best to you,
  %br
  Shannon

%h2 Articles

%ul
  = links_for_articles(:author => "havenwood")
