---
title: Author Michal Papis
created_at: 2014-09-29 01:35:10 +0200
---

%h3
  Hi Guest,

%p
  My name is Michal Papis, I love to code, I am current maintainer of
  RVM and [help with many other projects](https://github.com/mpapis).

%p
  If you are interested in security here is my
  %a{:href => "/mpapis.asc"}public key.

%p
  If you are interested in my private life I have wife and three kids,
  son and twin daughters.

%p
  Cheers,
  %br
  mpapis


%h2 Articles

%ul
  = links_for_articles(:author => "mpapis")
