---
title: Author Piotr Kuczynski
created_at: 2016-12-23 14:17:00 +0200
---

%h3
  Hi,

%p
  I'm Shannon Skipper. You can find me as
  %a{:href => "https://github.com/pkuczynski"}
    pkuczynski

  on the Github or on

  %a{:href => "https://www.linkedin.com/in/piotrkuczynski"}
    LinkedIn

  . Happy coding!

%p
  My best to you,
  %br
  Piotr

%h2 Articles

%ul
  = links_for_articles(:author => "pkuczynski")
